.jim-tutorial .introjs-tooltiptext {
  font-size: 1.5em;
}

.jim-tutorial .introjs-button {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.jim-tutorial a.introjs-button:focus {
  text-decoration: none;
}