<% if @measurement.series_executions.empty? %>
  Ta trening niste opravili nobene vaje.
<% else %>
 <div class="btn-toolbar"></div>
<%  @measurement.series_executions.map{|e| e.exercise}.uniq{|t| t.exercise_type.name}.each do |exercise| %>
 <button class="btn exercisetype" typeid="<%=exercise.id%>"><%=exercise.exercise_type.name%></button>
<%  end %>
</div>
<% end %>
<div id="serijareport"></div>