<div id="dashboard-show">
  <div class="people-exercises">
    <div class="entry">
      <div class="title">Natalia Zexembhayeva</div>
      <div class="icon"></div>
    </div>
    <div class="entry even">
      <div class="title">Natalia Zexembhayeva</div>
      <div class="icon"></div>
    </div>
    <div class="entry selected">
      <div class="title">Chuck N.</div>
      <div class="icon"></div>
    </div>
    <div class="entry even">
      <div class="title">Natalia Zexembhayeva</div>
      <div class="icon"></div>
    </div>
  </div><div class="statistics">
    <div class="avatar-name">
      <div class="avatar"></div><div class="name">Chuck N.</div>
    </div>
    <div class="numbers">
      <div class="activity-percentage">
        <div class="number">
          72
        </div>
        <div class="label">
          <div>min</div>
          <div>active</div>
        </div>
      </div>
      <div class="separator"><div></div></div>
      <div class="activity-percentage">
        <div class="number">
          91
        </div>
        <div class="label">
          <div class="percent">%</div>
          <div>workout</div>
          <div>done</div>
        </div>
      </div>
      <div class="separator"><div></div></div>
      <div class="activity-percentage">
        <div class="number">
          713
        </div>
        <div class="label">
          <div>kg</div>
          <div>lifted</div>
        </div>
      </div>
      <div class="ex-workout-switch">
        exercise | <a href="#">workout</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <div class="header">
          <div class="icon"></div>
          <div class="title-date">
            <div class="title">Comment</div>
            <div class="date">Fri, Feb 13, 2013</div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="emoticons">
          Emoticons
        </div>
        <div class="separator"></div>
        <div class="message">
          I couldn't do the leg press today and am wondering what can I do next time to make it up?
        </div>
      </div>
      <div class="responded-flag">
        <input type="checkbox" value="ON" checked="" /> You already responded <a href="#">view</a>
      </div>
    </div>
  </div><div class="measurements">
    Measurements
    Measurements
    Measurements
    Measurements
    Measurements
  </div>
</div>