<div id="dashboard-show" class="container">
  <div class="span4">
    <div class="people-exercises" data-bind="foreach: users">
      <a data-bind='page-href: full_name'>
        <div class="entry button-behaviour" data-bind="css: {selected: $parent.selectedUser() == $data, even: $index() % 2 == 1}">
          <div class="title" data-bind="text: display_name">
          </div>
          <div class="icon"></div>
        </div>
      </a>
    </div>

    <div class="numbers-widget">
      <div class="numbers-header">
        <div class="numbers-header-tab">month</div>
        <div class="numbers-header-tab numbers-header-tab-selected">total</div>
        <div class="numbers-header-caption">You. In numbers.</div>
      </div>
      <div class="numbers-rows">
        <div class="numbers-row numbers-row-non-bottom">
          <div class="numbers-row-bg-text">active</div>
          <div class="numbers-row-text">
            <span class="numbers-input">2</span>
            days
            <span class="numbers-input">11</span>
            hours
          </div>
        </div>
        <div class="numbers-row numbers-row-non-bottom">
          <div class="numbers-row-bg-text">lifted</div>
          <div class="numbers-row-text">
            <span class="numbers-input">798</span> kg
          </div>
        </div>
        <div class="numbers-row">
          <div class="numbers-row-bg-text">done</div>
          <div class="numbers-row-text">
            <span class="numbers-input">89</span> % workouts
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="span8">
    <div class="statistics" data-bind="visible: statisticsVisible">
      <div>
        <div class="avatar-name" data-bind="with: selectedUser">
          <div class="avatar"></div><div class="name" data-bind="text: full_name"></div>
        </div>
        <div class="numbers" data-bind="with: statistics()">
          <div class="activity-percentage" data-bind="visible: duration !== false">
            <div class="number" data-bind="text: duration">
              72
            </div>
            <div class="jimlabel">
              <div data-bind="text: durationUnit">min</div>
              <div>active</div>
            </div>
          </div>
          <div class="separator"><div></div></div>
          <div class="activity-percentage">
            <div class="number" data-bind="text: workoutDonePercentage">
              91
            </div>
            <div class="jimlabel">
              <div class="percent">%</div>
              <div>workout</div>
              <div>done</div>
            </div>
          </div>
          <div class="separator"><div></div></div>
          <div class="activity-percentage" data-bind="visible: weightLifted !== false">
            <div class="number" data-bind="text: weightLifted">
              713
            </div>
            <div class="jimlabel">
              <div data-bind="text: weightLiftedUnit">kg</div>
              <div>lifted</div>
            </div>
          </div>
          <div class="ex-workout-switch" data-bind="if: exerciseSelected">
            exercise | <button class="btn-link" data-bind="click: toggle">workout</button>
          </div>
          <div class="ex-workout-switch" data-bind="if: workoutSelected">
            <button class="btn-link" data-bind="click: toggle">exercise</button>| workout
          </div>
        </div>
      </div>
      <div class="comments" data-bind="with: measurement">
        <div class="comment">
          <div class="header">
            <div class="icon"></div>
            <div class="title-date">
              <div class="title">Comment</div>
              <div class="date" data-bind="text: $parent.dateFormat(start_time)"></div>
            </div>
          </div>
          <div class="separator"></div>
          <div class="emoticons">
            <div class="one" data-bind="css: {on: rating == 1}"></div>
            <div class="two" data-bind="css: {on: rating == 2}"></div>
            <div class="three" data-bind="css: {on: rating == 3}"></div>
            <div class="four" data-bind="css: {on: rating == 4}"></div>
          </div>
          <div class="separator"></div>
          <div data-bind="foreach: $parent.commentsVM.latest">
            <div class="message" data-bind="css: {answer: ($root.selectedUser().id() === sender_id)}">
              <span data-bind="text: $data.text"></span>
            </div>
            <div class="separator"></div>
          </div>


          <div class="responded-flag" data-bind="with: $parent.commentsVM">
            <div>
              <div class="respond-box" data-bind="visible: !replyInputOn()">
                <div class="reply-icon"></div>
                <button class="btn-link" data-bind="click: replyToggle, text: replyLinkText"></button>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="reply-box" data-bind="visible: replyInputOn">
              <form data-bind="submit: postReply">
                <textarea class="comment-input" id="comment-field"rows="3" data-bind="value: inputText" placeholder="Your comment here..."></textarea>
                <div class="reply-buttons btn-group">
                  <button class="btn btn-danger" data-bind="click: replyToggle">Cancel</button>
                  <button class="btn btn-success" data-bind="click: postReply" type="submit">Post</button>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :trainees do %>
    <%= render :partial => 'shared/trainees_dropdown' %>
<% end %>