<div id="dashboard-show">
  <div class="people-exercises">
    <% @trainees.each_with_index do |trainee,index| %>
        <div class="entry<%= index%2==1 ? " even" : "" %>">
          <div class="title" id="<%= trainee.id %>">
        <%= trainee.display_name %></div>
          <div class="icon"></div>
        </div>
    <% end %>
  </div>

  <div class="statistics"></div>
  <div class="measurements"></div>
  
</div>