<div id="dashboard-show">
  <div class="people-exercises">
    People/exercises
    People/exercises
    People/exercises
    People/exercises
    People/exercises
  </div><div class="statistics">
    Statistics
    Statistics
    Statistics
    Statistics
    Statistics
    Statistics
  </div><div class="measurements">
    Measurements
    Measurements
    Measurements
    Measurements
    Measurements
  </div>
</div>