
<div id="dashboard-show">
  <div class="people-exercises" data-bind="foreach: users">

    <div class="entry" data-bind="click: $parent.selectUsers.bind($data), css: {selected: $parent.selectedUser() == $data, even: $index() % 2 == 1}">
      <div class="title" data-bind="text: full_name">
      </div>
      <div class="icon"></div>
    </div>
  </div>


  <div class="statistics" data-bind="visible: statisticsVisible">
    <div>
      <div class="avatar-name" data-bind="with: selectedUser">
        <div class="avatar"></div><div class="name" data-bind="text: full_name"></div>
      </div>
      <div class="numbers" data-bind="with: statistics()">
        <div class="activity-percentage" data-bind="visible: duration !== false">
          <div class="number" data-bind="text: duration">
            72
          </div>
          <div class="jimlabel">
            <div>min</div>
            <div>active</div>
          </div>
        </div>
        <div class="separator"><div></div></div>
        <div class="activity-percentage">
          <div class="number" data-bind="text: Math.ceil(100*Math.random())">
            91
          </div>
          <div class="jimlabel">
            <div class="percent">%</div>
            <div>workout</div>
            <div>done</div>
          </div>
        </div>
        <div class="separator"><div></div></div>
        <div class="activity-percentage" data-bind="visible: weightLifted !== false">
          <div class="number" data-bind="text: weightLifted">
            713
          </div>
          <div class="jimlabel">
            <div>kg</div>
            <div>lifted</div>
          </div>
        </div>
        <div class="ex-workout-switch">
          exercise | <a href="#">workout</a>
        </div>
      </div>
    </div>
    <div class="comments" data-bind="with: commentsVM.last">
      <div class="comment">
        <div class="header">
          <div class="icon"></div>
          <div class="title-date">
            <div class="title">Comment</div>
            <div class="date" data-bind="text: $parent.dateFormat(date)"></div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="emoticons">
          Emoticons
        </div>
        <div class="separator"></div>
        <div class="message">
          <span data-bind="text: text"></span>
        </div>       
        <div class="responded-flag">
          <button class="btn-link" data-bind="">Reply</button>
        </div>
      </div>
    </div>


  </div>

  <div class="measurements" data-bind="visible: statisticsVisible && calendarVM.calendarVisible">



    <div data-bind="with: calendarVM">
      <div data-bind="visible: !calendarVisible()">  
        Uporabnik se ni treniral.
      </div>
      <div class="calendar" data-bind="visible: calendarVisible">
        <div class="btn-toolbar">
          <div class="btn-group">
            <button class="btn" data-bind="click: scrollMonth.bind(null,-1)">Prev</button>
            <button class="btn disabled" data-bind="text: currentMonth().month"></button>
            <button class="btn" data-bind="click: scrollMonth.bind(null,1)">Next</button>
          </div>

          <div class="btn-group" data-bind="foreach: currentMonth().days">
            <button class="btn" data-bind="text: day, click: $parent.measurementSelected.bind($data), css: { disabled: $data === $parent.selectedDay() }"></button>
          </div>
        </div> 
      </div>
    </div>

    <div id="graphWindow">
      <div data-bind="visible: selectedExercise !== null">
        <div id="placeholder" data-bind="visible: !alternateExerciseInfo()">

        </div>
        <div class="exercisetextinfo" data-bind="visible: alternateExerciseInfo, with: selectedExecution">
          <div id="stack">
            <div class="horizontalstack">
              <div class="number" data-bind="text: duration_seconds"></div><div class="jimlabel">
                <div>min</div>
                <div>active</div>
              </div>              
            </div>
            <div class="verticalline" ></div>
            <div class="horizontalstack">              
              <div class="number" data-bind="text: num_repetitions"></div>
              <div class="jimlabel">
                <div>reps</div>
              </div>              
            </div>
            <div class="verticalline"></div>
            <div class="horizontalstack">
              <div class="number" data-bind="text: weight"></div>
              <div class="jimlabel">
                <div>kg</div>
                <div>lifted</div>
              </div>
            </div>
          </div>
        </div>
        <div class="exerciseinfo" data-bind="visible: selectedExercise() !== null">
          <div id="workoutSets" data-bind="foreach: exerciseExecutions">
            <button class="btn" data-bind="text: $index(), click: $parent.onGraphChangeButton, css: { disabled: $data === $parent.selectedExecution()}"></button>
          </div>   
          <div class="seen" data-bind="visible: selectedExercise() !== null"> 
            <div class="abc"><div class="text" data-bind="html: selectedExerciseWeightInfo()"></div></div></div>
        </div>
      </div>      
    </div>


    <div id="types">
      <div data-bind="ifnot: typesVisible">  
        Ta trening niste opravili nobene vaje.
      </div>  
      <div class="btn-toolbar" data-bind="foreach: exerciseTypes">
        <button class="btn exercisetype" data-bind="text: name, click: $parent.onExerciseClick, css: { disabled: $parent.selectedExercise()==$data }" ></button>
      </div>
      <div id="serijareport"></div>
    </div>
  </div>
</div>
</div>