@import "../definitions";

////////////////////////////////////////////////////////////////////////////////
/// WORKOUT PAGE
//
.training {
  /////////////////////////
  /// LEFT NAVIGATION MENU
  //
  .my-workouts {
    @media (min-width: 768px) {
      h3.jim-title {
        margin: 30px 0px 10px 10px;
      }
    }

    @media (max-width: 767px) {
      h3.jim-title {
        margin: 10px 0px 10px 10px;
      }
    }

    $workoutItemHeight: 44px;

     //TODO: move the .workout-list to 'workout-list.css'
    .workout-list {
      > li {
        margin-bottom: -3px;
        > a {
          @include zero-spacing;
          @include no-rounding;
          background-color: white;
          color: black;
          height: $workoutItemHeight;
          line-height: $workoutItemHeight;
          border-color: $borderColor;
        }
        > a:hover {
          background-color: $hoverColor;
          color: white;
        }
        &.highlighted > a {
          background-color: $lightBlue;
          color: white;
        }
        &.highlighted > a:hover {
          background-color: $hoverColor;
        }
        &.highlighted > a:hover > .content .right {
          background-color: lighten($jimColor, 15%);
        }
        &.highlighted > a > .content .right {
          width: 20%;
          height: $workoutItemHeight - 2px;
          float: right;
          background-color: $jimColor;
          max-width: 30px;
          display: block;
        }
        &.highlighted > a > .content .left {
          width: 78%;
        }
        > a > .content {
          padding-left: 5px;
          height: $workoutItemHeight;
          .left {
            width: 100%;
            display: inline-block;
            vertical-align: middle;
            line-height: normal;
            margin-top: -5px;
          }
          .right {
            display: none;
          }
          .right span {
            margin-left: 10px;
          }
        }
      }
    }
  }

  /////////////////////////
  /// MAIN PANEL
  //
  .main-panel .jim-box {
    $paddingLR: 25px;
    $paddingTB: 15px;
    @include jim-box($paddingLR, $paddingTB);

    .box-image {
      background-image: image_url("workouts/ic_add_circle_outline_24px.svg");
    }

    $regimeDim: 65px;
    $borderWid: 3px;
    $regimeDimWithBorder: $regimeDim + 2*$borderWid;

    .selected-regime {
      padding: $paddingTB $paddingLR;

      button {
        @include sans;
      }
      button i {
        margin-top: 3px;
      }

      > .name {
        > div > div {
          @include inline;
          @include middle;
        }

        .btn-group {
          text-align: right;
          width: 100%;
        }
        .btn-group button {
          @include flat-btn;
          @include no-rounding;
          padding: 10px 8px;
        }
        .btn-group button .caret {
          margin-left: 10px;
        }
        .btn-group ul {
          text-align: left;
        }
      }

      .exercises {
        margin: 15px 0;

        .exercise {
          // TODO: Move these style definitions to `exercises/exerciseEditor.css`

          .details {
            .name {
              padding-top: 5px;
              padding-left: 5px;
              padding-right: 5px;
              .move {
                font-size: 20px;
                vertical-align: middle;
                opacity: 0.8;
              }
              .exercise-label {
                @include rounded(3px);
                font-weight: normal;
                text-shadow: 1px 1px white;
                font-size: 20px;
                @include inline;
                @include middle;
                margin-right: 5px;
                padding: 0 5px;

                .exercise-expand-icon {
                  text-shadow: 1px 1px white;
                  margin: 7px 5px 5px 5px;
                }

                &:hover {
                  text-shadow: none;
                  background-color: white;
                }
              }
              a.btn {
                @include flat-btn;
              }
              a.active {
                background-color: #eee;
              }
              span.the-name-value {
                @include light;
                font-size: 20px;
                text-shadow: 1px 1px white;
                margin-right: 5px;
              }
            }
          }

          .series-list {

            .series {
              background-color: white;
              margin-bottom: 5px;
              @include rounded(3px);
              padding: 5px;

              .icon {
                font-size: 1.5em;
                text-align: center;
                background-color: #f6f6f6;
                @include rounded(3px);
              }

              input.value {
                font-size: 2em;
                @include sans;
                @include flat-text-input;
                height: auto;
                line-height: normal;
                margin: 0 0 -5px 0;
                background: none;
                padding: 0px;
                width: 60px;
                display: inline-block;
                vertical-align: bottom;
              }

              .row-fluid > div {
                display: inline-block;
                vertical-align: middle;
                float: none;
              }
              .row-fluid > div.data-field:hover {
                @include rounded(3px);
                background-color: #f6f6f6;
              }

              table.content {
                @include zero-spacing;
                width: 100%
              }

              table.content td > div {
                padding: 5px;
              }
              table.content .text > div {
                margin-left: 10px;
                display: inline-block;
              }

              .series-list {
                text-align: center;
                padding: 5px;

                .title {
                  @include light;
                  font-size: 13pt;
                  color: #373939;
                }

                .the-list {
                  .the-series {
                    display: inline-block;
                    padding: 3px 5px;
                    margin-top: 5px;
                    margin-right: 5px;
                  }
                  .the-series:hover {
                    background-color: #ddd;
                    color: #333;
                  }
                  .the-series.selected {
                    @include shadow(0 0 1px 1px $jimBlue);
                    background-color: white;
                    color: black;
                  }
                }
              }
            }

          }
        }
      }

      .workout-buttons {
        .row-fluid > div {
          text-align: right;
        }

        .btn {
          @include flat-btn;
          @include no-rounding;
        }
        .btn.save {
          background-color: $lightBlue;
          margin-left: 10px;
        }
        .btn.save:hover {
          background-color: $hoverColor;
        }
      }
    }
  }
}

/////////////////////////
/// TEMPO GUIADANCE POPUP
//
div.popup-tempo-container {
  position: absolute;
  z-index: 2;
  display: none;
}

div.popup-tempo {
  position: relative;
  width: 440px;
  height: 420px;
  background: white;

  div.outer-border {
    position: absolute;
    border: 10px solid $jimColor;
    background: $bodyBackgroundColor;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;

    div.left {
      float: left;
      width: 55%;
      height: 100%;

      div.control-border {
        position: relative;
        height: 90%;
        width: 85%;
        margin: 5% auto;
        border: 5px solid $jimBlue;
        cursor: pointer;

        #tap_tempo_note {
          width: 100%;
          height: 100%;
          text-align: center;
          font: {
            size: 1.5em;
            weight: 400;
          }
          color: $jimBlue;
        }
      }

      div.control-fill {
        position: absolute;
        height: 0%;
        width: 100%;
        background: $jimBlue;
        bottom: 0px;
      }
    }

    div.right {
      float: left;
      width: 45%;
      height: 100%;

      table.selector-controls {
        width: 100%;

        td.timer {
          padding: 10px 0px 10px 0px;
          text-align: right;

          span.segment {
            display: inline-block;
            vertical-align: baseline;
            font: {
              size: 1.5em;
              weight: 400;
            }
          }

          input.value {
            display: inline-block;
            vertical-align: baseline;
            background: $bodyBackgroundColor;
            border: 0px;
            font: {
              size: 3.0em;
              weight: 600;
            }
          }
        }
      }

      div.row {
        position: relative;
        clear: both;
        height: 15%;
        background: red;
      }

      .btn {
        @include flat-btn;
        @include no-rounding;
        display: block;
        width: 90%;
        margin: auto;
        margin-bottom: 5px;
      }
      .btn.save {
        background-color: $lightBlue;
      }
      .btn.save:hover {
        background-color: $hoverColor;
      }
    }
  }
}