<div class="welcome-page">

  <div class="header">
    <div class="header-logo central-strip">

      <div class="logo-button-container">
        <div class="comming-soon"></div>
        <a class="logo-button" data-colorbox-height="360px" data-colorbox-iframe="true" data-colorbox-width="640px" data-colorbox="true" href="http://player.vimeo.com/video/63753343"></a>
      </div>
      <login-panel></login-panel>
    </div>
  </div>

  <div class="central-strip">
    <div class="for-whom">
      <div class="buttons">
        <div class="btn-for-whom trainees on button-behaviour" ng-click="onTraineesButtonClicked()"></div>
        <div class="btn-for-whom trainers off button-behaviour" ng-click="onTrainersButtonClicked()"></div>
      </div>
      <carousel interval="5000">
        <slide active="isTrainersSlideActive">
          <div class="features-details trainers"></div>
        </slide>
        <slide active="isTraineesSlideActive">
          <div class="features-details trainees"></div>
        </slide>
      </carousel>
    </div>

    <div class="explanation"></div>

    <div class="features">
      <div class="mobile-web-app"></div>
      <div class="trainer-advice"></div>
    </div>

    <div class="social">
      <a href="https://twitter.com/trainwithJIM/">
        <div class="twitter"></div>
      </a>
      <a href="http://trainerjim.tumblr.com/">
        <div class="tumblr"></div>
      </a>
    </div>

    <div class="pocket-trousers" ui-sref="workouts/templates"></div>

  </div>

</div>