<div class="auth-login-panel">

  <div class="sign-in-tab button-behaviour" ng-click="togglePanelVisibility($event)">sign in</div>

  <div class="sign-in-panel auth-panel" ng-show="isPanelVisible">
    <div class="close-icon button-behaviour" ng-click="togglePanelVisibility()"></div>

    <div class="the-form">

      <div class="login-part" ng-show="isLoginActive">
        <div class="title">Welcome back, champ.</div>
        <div class="sub-title">Back for more strength?</div>

        <login-form on-login-clicked="onLoginClicked(email, password, rememberMe)"></login-form>

        <div class="login-link">
          Not yet a member?
          <span class="swap-panel-link"
                ng-click="toggleLoginActive($event)">Click here to register.</span>
        </div>

      </div>

      <div class="registration-part" ng-show="!isLoginActive">
        <div class="title">Welcome champ.</div>
        <div class="sub-title">Nice to have you on board.</div>

        <signup-form on-signup-clicked="onSignupClicked(email, password, full_name, registration_token)"></signup-form>

        <div class="login-link">
          Already a member?
          <span class="swap-panel-link" ng-click="toggleLoginActive($event)">Click here to log in.</span>
        </div>
      </div>
    </div>

  </div>

</div>