div.auth-login-panel {

  $closeButtonSize: 16px;
  $authPanelWidth: 246px;
  $authMarginRight: 12px;
  $welcomePageBtnColor: #067cff;

  div.sign-in-tab {
    @include bold;
    float: right;
    margin-right: $authMarginRight;
    display: inline-block;
    padding: 5px 20px;
    font-size: 0.9em;
    color: white;
    background-color: $welcomePageBtnColor;

    &:hover {
      background-color: lighten($welcomePageBtnColor, 15%);
    }
  }

  $insideAuthPanelPadding: 7px;

  div.auth-panel {
    float: right;
    margin-right: $authMarginRight;
    width: $authPanelWidth;
    padding: $insideAuthPanelPadding;
    background-color: $welcomePageBtnColor;
    clear: both;
    color: white;
    text-align: center;

    div.close-icon {
      position: absolute;
      @include size($closeButtonSize, $closeButtonSize);
      @include central-image('welcome/CloseIcon.png');
      margin-left: $authPanelWidth - $closeButtonSize - 15px;
    }
  }

  div.sign-in-panel {

    div.the-form {
      div.title {
        font: {
          size: 1.2em;
          weight: bold;
        }
      }

      div.sub-title {
        margin-bottom: 10px;
      }

      div.sign-up-link, div.login-link {
        margin-top: 5px;
        color: white;

        a {
          color: white;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  span.swap-panel-link {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

}