<p>Welcome to TrainerJim!</p>

<p><%= @creator.full_name.capitalize %> created a TrainerJim account for you.</p>

<p>
  Your log in email is: <span style="font-weight: bold;"><%= @user.email %></span>
</p>

<p>
  Your password is: <span style="font-weight: bold;"><%= @password %></span>
</p>

<p>You can log in to TrainerJim through the link below:</p>

<p><%= link_to 'TrainerJim', welcome_url %></p>