<p>New TrainerJim User!</p>

<p>The following user account has been created:</p>

<p style="margin-left: 10px">
  Email: <%= @user.email %>
</p>

<p style="margin-left: 10px">
  Full name: <%= @user.full_name %>
</p>

<p>The user was created by '<%= @creator_user.email %>'.</p>