<% content_for :nav_bar do %>
  <li><a href="#home">Home</a></li>
  <li><a href="#feature">Features</a></li>
  <li><a href="#download">Download</a></li>
  <li><a href="#contact">Contact</a></li>
  <li>
    <a href="#" class="sign-in">
      <button type="button" class="btn btn-primary navbar-btn"><i class="fa fa-sign-in"></i> Log in</button>
    </a>
  </li>
<% end %>

<div class="preloader">
  <div class="sk-spinner sk-spinner-rotating-plane"></div>
</div>

<section id="home">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 wow fadeIn" data-wow-delay="0.3s">
          <div class="jim-logo"></div>

          <p class="tm-white tagline-head">
            Increase training motivation of your customers.
            Offer personalized workouts along with your gym subscriptions.
          </p>

          <p>
            <a href="https://play.google.com/store/apps/details?id=com.trainerjim.mobile.android">
              <img alt="Android app on Google Play"
                   src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png"/>
            </a>
          </p>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</section>

<section id="divider">
  <div class="container">
    <div class="row">
      <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <i class="fa fa-edit"></i>

        <h3 class="text-uppercase">TRAINING TEMPLATES</h3>

        <p>
          Create workout templates, customize them per customer and push to their mobile devices.
        </p>
      </div>
      <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <i class="fa fa-mobile"></i>

        <h3 class="text-uppercase">EFFICIENT TRAINING</h3>

        <p>
          Using our mobile app your customers can easily follow the trainings you prepared.
        </p>
      </div>
      <div class="col-md-4 wow fadeInUp templatemo-box" data-wow-delay="0.3s">
        <i class="fa fa-dashboard"></i>

        <h3 class="text-uppercase">MOTIVATION</h3>

        <p>
          Track progress of your customers, motivate them and upgrade their training through time.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="feature" class="feature">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 wow you-will-love" data-wow-delay="0.1s">
        <h1>You’ll <i class="fa fa-heart"></i> how easy it is</h1>
      </div>
    </div>

    <div class="row">
      <div class="bullets col-md-6 wow fadeInLeft" data-wow-delay="0.3s">
        <h2 class="text-uppercase">WORKOUT TEMPLATES</h2>

        <p>
          <i class="fa fa-list-ul"></i> Select from our large database of exercises.
        </p>

        <p>
          <i class="fa fa-file-text"></i> Create your own reusable workout templates.
        </p>

        <p>
          <i class="fa fa-upload"></i> Assign workouts to your customers.
        </p>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-delay="0.3s">
        <%= image_tag "landing-page/jim-template.png", class: "img-responsive", alt: "feature img" %>
      </div>
    </div>
  </div>
</section>

<section id="feature1" class="feature">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="center-horizontal mobile-feature-img">
          <%= image_tag "landing-page/jim-mobile.png", class: "img-responsive", alt: "feature img" %>
        </div>
      </div>
      <div class="bullets col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <h2 class="text-uppercase">TRAINING ASSISTANT</h2>

        <p>
          <i class="fa fa-mobile-phone"></i> Your customers receive workouts on their phones.
        </p>

        <p>
          <i class="fa fa-rocket"></i> Our mobile app helps them train more efficiently.
        </p>

        <p>
          <i class="fa fa-refresh"></i> Training data is automatically collected for analysis.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="feature2" class="feature">
  <div class="container">
    <div class="row">
      <div class="bullets col-md-6 wow fadeInLeft" data-wow-delay="0.3s">
        <h2 class="text-uppercase">PROGRESS REVIEW</h2>

        <p>
          <i class="fa fa-calendar"></i> Easily track the performance of your customers.
        </p>

        <p>
          <i class="fa fa-dashboard"></i> Inspect details for individual exercises.
        </p>

        <p>
          <i class="fa fa-check"></i> Provide motivation and adapt trainings.
        </p>
      </div>

      <div class="col-md-6 wow fadeInRight" data-wow-delay="0.3s">
        <%= image_tag "landing-page/jim-drill-down.png", class: "img-responsive", alt: "feature img" %>
      </div>
    </div>
  </div>
</section>


<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-6 wow fadeInLeft" data-wow-delay="0.3s">
        <h2 class="text-uppercase">MOBILE APPLICATION</h2>

        <p>
          Our mobile application is the core of TrainerJim.
          With the guidance, exercise information, and built-in notifications
          your customers will be able to train more efficiently.
          View the video for a short demo of the app's functionalities.
        </p>

        <div class="mobile-demo center-horizontal">
          <a href="https://play.google.com/store/apps/details?id=com.trainerjim.mobile.android">
            <img alt="Android app on Google Play"
                 src="https://developer.android.com/images/brand/en_app_rgb_wo_60.png"/>
          </a>
        </div>
      </div>
      <div class="col-md-6 wow fadeInRight" data-wow-delay="0.3s">
        <div class="center-horizontal">
          <iframe width="480" height="270" src="https://www.youtube.com/embed/vidjp7155Nw" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <h2 class="text-uppercase">Request a demo</h2>

          <p>
            Would like to join us and offer your services through TrainerJim?
            Feel free to contact us if you're a trainer or a gym manager.
          </p>

          <address>
            <p><i class="fa fa-envelope-o"></i> <a href="mailto:hello@trainerjim.com">hello@trainerjim.com</a></p>

            <p><i class="fa fa-phone"></i> Vienna, Austria: +43 6776 1470 456</p>

            <p><i class="fa fa-phone"></i> Maribor, Slovenia: +386 31 866 244</p>

            <p><i class="fa fa-phone"></i> London, UK: +44 7540 168 854</p>
          </address>
        </div>
        <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="contact-form">
            <form>

              <div class="form-group email">
                <input type="email" class="form-control email" placeholder="Email">

                <div class="email-invalid alert alert-danger" style="display: none;" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  Please enter a valid email address.
                </div>
              </div>

              <div class="form-group">
                <textarea class="form-control message" placeholder="Message (optional)" rows="4"></textarea>
              </div>

              <div class="post-success alert alert-success" style="display: none;" role="alert">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Your email has been sent. We'll get back to you as soon as possible.
              </div>

              <div class="post-failure alert alert-danger" style="display: none;" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                Something went wrong. We couldn't send your email. Try clicking
                <a href="mailto:hello@trainerjim.com">this email link</a> or try
                again later.
              </div>


              <div class="form-group">
                <input type="submit" class="form-control text-uppercase send" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
