<% content_for :head do %>
  <%= stylesheet_link_tag "landing-page/css/login", :media => "all" %>
  <%= javascript_include_tag "landing-page/js/login.js" %>
<% end %>

<section id="sign-in">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 title">
        <h2>JOIN US AND START PUMPING!</h2>
      </div>
    </div>

    <div class="row">
      <div class="login-col col-md-12">
        <div class="login-panel panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Log in</h3>
          </div>

          <div class="panel-body">
            <form class="log-in-form">
              <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" type="email" name="username" id="email"/>
              </div>

              <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" name="password" id="password" placeholder="password"/>
              </div>

              <div class="alert alert-danger" role="alert">
                Could not log in. Please verify your email and password.
              </div>

              <div class="form-group">
                <button class="btn btn-primary pull-right submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>