<div class="footer">
    <div class="container">
        <div class="row content">
            <div class="col-sm-6 left">
                <div class="links">
                    <a href="https://play.google.com/store/apps/details?id=com.trainerjim.mobile.android" target="_blank" translate>FOOTER_BAR_MOBILE_APP</a>
                    (<a href="https://vimeo.com/trainerjim/mobile" target="_blank" translate>FOOTER_BAR_SEE_VIDEO</a>)
                </div>
            </div>
            <div class="col-sm-6 right">
                <div class="pull-right social">
                    <div class="text" translate>FOOTER_BAR_COPYRIGHT</div>
                    <a href="https://twitter.com/trainwithJIM/"><div class="twitter"></div></a>
                    <a href="http://trainerjim.tumblr.com/"><div class="tumblr"></div></a>
                </div>
            </div>
        </div>
    </div>
</div>