<div class="footer">
    <div class="container">
        <div class="row content">
            <div class="left">
                <div class="links">
                  <!--<a href="#" class="first">HOME</a> |
                  <a href="#">FEATURES</a> |
                  <a href="#">TEAM</a> |
                  <a href="#">FEEDBACK, QA & COMMENTS</a> |-->
                    <a href="https://play.google.com/apps/testing/com.trainerjim.mobile.android" class="mobile-app" target="_blank">GET THE MOBILE APP</a>
                </div>

                <div class="copyright-notice">
                    Trainer JIM. Copyright &copy; 2015
                </div>
            </div>
            <div class="right">
                <div class="social">
                    <div class="text">We're social. A lot.</div>
                    <a href="https://twitter.com/trainwithJIM/"><div class="twitter"></div></a>
                    <a href="http://trainerjim.tumblr.com/"><div class="tumblr"></div></a>
                </div>
            </div>
        </div>
    </div>
</div>