<div class="footer">
    <div class="container">
        <div class="row content">
            <div class="col-sm-6 left">
                <div class="links">
                    <a href="https://play.google.com/store/apps/details?id=com.trainerjim.mobile.android" target="_blank">GET THE MOBILE APP</a>
                    (<a href="https://vimeo.com/trainerjim/mobile" target="_blank">see video</a>)
                </div>

                <div class="copyright-notice">
                    Trainer JIM. Copyright &copy; 2016
                </div>
            </div>
            <div class="col-sm-6 right">
                <div class="pull-right social">
                    <div class="text">We're social. A lot.</div>
                    <a href="https://twitter.com/trainwithJIM/"><div class="twitter"></div></a>
                    <a href="http://trainerjim.tumblr.com/"><div class="tumblr"></div></a>
                </div>
            </div>
        </div>
    </div>
</div>