<div class="header-menu">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-init="navCollapsed = true"
                ng-click="navCollapsed = !navCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="logo-part">
          <div class="logo clickable-link" ui-sref="main.workouts.workout"></div>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'" ng-click="navCollapsed=true">

        <ul class="nav navbar-nav">
          <li ng-repeat="item in topNavigation | isShown" ng-class="{active: isLinkActive(item)}">
            <a ui-sref="{{item.link}}">{{item.name}}</a>
          </li>
          <li ng-if="userDetails.is_trainer">
            <button type="button" class="btn btn-primary navbar-btn"
                    ng-click="onNewTraineeClicked()">
              New trainee
            </button>
          </li>
          <li ng-if="userDetails.is_admin">
            <button type="button" class="btn btn-primary navbar-btn"
                    ng-click="onNewTrainerClicked()">
              New trainer
            </button>
          </li>
        </ul>


        <div class="current-user-btns pull-right navbar-right btn-group navbar-btn">
          <button type="button" class="thumb-btn btn btn-primary" ui-sref="main.userProfile.details">
            <img alt="" ng-src="{{userDetails.photo}}"/>
          </button>
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#" ui-sref="main.userProfile.details">{{userDetails.full_name}} ({{userDetails.email}})</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#" ng-click="logout()">Log out</a></li>
          </ul>
        </div>

      </div>
      <!-- /.navbar-collapse -->

    </div>
  </nav>
</div>