<div class="header-menu">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#jim-header-collapse-target" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="logo-part">
          <div class="logo clickable-link" ui-sref="main.workouts.instructions"></div>
        </div>
      </div>

      <div class="collapse navbar-collapse" id="jim-header-collapse-target">
        <ul class="left-part nav navbar-nav">
          <li ng-repeat="item in topNavigation | isShown" ng-class="{active: isLinkActive(item)}">
            <a ui-sref="{{item.link}}">{{item.name}}</a>
          </li>
          <li ng-if="userDetails.is_trainer">
            <button type="button" class="btn btn-primary navbar-btn"
                    ng-click="onNewTraineeClicked()" translate>
              HEADER_CTRL_NEW_TRAINEE
            </button>
          </li>
          <li ng-if="userDetails.is_admin">
            <button type="button" class="btn btn-primary navbar-btn"
                    ng-click="onNewTrainerClicked()" translate>
              HEADER_CTRL_NEW_TRAINER
            </button>
          </li>
        </ul>

        <ul class="current-user-btns nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" ng-click="$event.preventDefault()" class="thumb-btn dropdown-toggle" data-toggle="dropdown"
               role="button" aria-haspopup="true" aria-expanded="false">
              <div class="button-container pull-right">
                <button type="button" class="avatar btn btn-primary">
                  <img alt="" ng-src="{{userDetails.photo}}"/>
                  <span class="caret"></span>
                </button>
              </div>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#" ui-sref="main.userProfile.details">{{userDetails.full_name}} ({{userDetails.email}})</a>
              </li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="useLanguage('en')"><img class="language-flag" src="images/language-flags/gb.svg"> English</a></li>
              <li><a href="#" ng-click="useLanguage('sl')"><img class="language-flag" src="images/language-flags/si.svg"> Slovenščina</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#" ng-click="logout()" translate>HEADER_CTRL_LOG_OUT</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
