<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div style="height:500px;">
  <div id="tempo-animator" style="background:red;height:0px;width:50px;"></div>
</div>

<div id="button-div" style="width:30px; height:50px;background:blue">Click</div>