<div class="wrapper ">
  
  <div class="workouts span2">
    <div class="title">My workouts</div>
    <div class="box">
      <div class="text">Opps. No workouts selected yet...</div>
    </div>
    <div class="select-box">
      <div class="text">
        <div>Create</div>
        <div>or choose</div>
        <div>one <div class="underline">here</div></div>
      </div>
      <div class="plus"><i class="icon-chevron-right icon-white"></i></div>
    </div>
  </div>
  
  <div class="workout span10">
    <div class="workout-outer">
    <div class="header">
      <div class="title">Welcome champ!</div>
      <div class="big">Lets get you started, shall we?</div>
    </div>
    <div class="seperator"></div>
    <div class="title">Workouts</div>
    <div class="big">For starters select and modify one of the <div class="underline">existing regimes</div> bellow </div>
    <div class="regimes">
      <div class="regime">
        <div class="icon"></div>
        <div class="name">Fit before summer</div>
      </div>   
      <div class="regime">
        <div class="icon"></div>
        <div class="name">Supper training</div>
      </div>
      <div class="regime">
        <div class="icon"></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"></div>
        <div class="name">Fit before summer</div>
      </div>   
      <div class="regime">
        <div class="icon"></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"></div>
        <div class="name">Fit before summer</div>
      </div>
    </div>
    <div class="regime-info">
      <div class="name">Fit before summer training<div class="icon">
          <i class="icon-ok"></i></div>
      </div>
    </div>
    </div>
  </div>
</div>