<div class="my-workouts span3">
  <h3 class="jim-title">My workouts</h3>

  <ul class="workout-list nav nav-tabs nav-stacked" data-bind="foreach: my_templates, visible: my_templates().length > 0" style="display: none;">
    <li data-bind="css: {highlighted: id < 0}, click: $root.onSelectTraining">
      <a href="#">
        <div class="content">
          <div class="left" data-bind="html: name"></div>
          <div class="right"><i class="icon-chevron-right icon-white">​</i>​</div>
        </div>
      </a>
    </li>
  </ul>

</div>

<div class="main-panel span9">
  <div class="jim-box">

    <div class="header">
      <h1 class="jim-title">Welcome champ!</h1>
      <h1 class="jim-sub-title">Let's get you started, shall we?</h1>
    </div>

    <div class="separator"></div>

    <div class="instructions">
      <div class="row-fluid">
        <div class="span4">
          <span class="marginalium">1</span>
          <span class="contentium">Select & customise a training. It will be pushed to your mobile</span>
        </div>
        <div class="span4">
          <span class="marginalium">2</span>
          <span class="contentium"><a href="#">Download</a> the JIM mobile application</span>
        </div>
        <div class="span4">
          <span class="marginalium">3</span>
          <span class="contentium">Select your training, push start and... start sweating</span>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div id="workout-templates" class="header">
      <h1 class="jim-title">Workouts</h1>
      <h1 class="jim-sub-title">For starters select and modify one of the <span class="underline">existing regimes</span> below.</h1>
    </div>

    <div class="regimes" data-bind="foreach: templates, visible: templates().length > 0" style="display: none;">
      <a class="regime" href="#selected-workout" data-bind="css: { active: id % 3 == 1 }, click: $root.onSelectTraining">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"><img src="" data-bind="attr: { src: getIconPath($index), alt: name }"/></div></div>
        <div class="name" data-bind="text: name"></div>
      </a>
    </div>

    <div id="my-workout" class="selected-regime" data-bind="with: selected_training, visible: !!selected_training()" style="display: none;">

      <div class="separator"></div>

      <h1 class="jim-title">Customise your workout</h1>
      <div class="name row-fluid">
        <div class="left span9">
          <div class="the-name-value" data-bind="text: name"></div> 
          <div class="icon"><i class="icon-ok"></i></div>
        </div>
        <div class="right span3">
          <div class="btn-group">
            <button class="btn btn-large btn-success dropdown-toggle" data-toggle="dropdown">
              Add exercise
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" data-bind="foreach: $root.exercise_types">
              <li>
                <a data-bind="text: name, click: $root.addExerciseOfType"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>


      <div class="exercises" data-bind="sortable: exercises">

        <div class="exercise">
          <div class="details row-fluid button-behaviour">
            <div class="name span7">
              <div class="exercise-label">Exercise:</div>
              <div class="exercise-name btn-group">
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                  <span class="the-name-value" data-bind="text: exercise_type().name"></span>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" data-bind="foreach: $root.exercise_types">
                  <li>
                    <a data-bind="text: name, click: $parent.setExerciseType, css: {active: id == $parent.exercise_type().id}"></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="exercise-top-btns span5">
              <button class="add-btn btn" data-bind="click: addSeries">Add series <i class="icon-plus-sign"></i></button>
              <button class="delete-btn btn btn-danger" data-bind="click: $parent.removeExercise">Delete <i class="icon-remove-sign icon-white"></i></button>
            </div>
          </div>

          <div class="series-list" data-bind="sortable: series">

            <div class="series">
              <div class="row-fluid">
                <div class="reps span4 data-field">
                  <table class="content">
                    <tr>
                      <td class="text"><div>reps: <span class="value" data-bind="text: repeat_count"></span></div></td>
                      <td class="plus-minus-btns"><div><button class="plus-btn btn" data-bind="click: increaseReps"><i class="icon-plus icon-white"></i></button><button class="minus-btn btn" data-bind="click: decreaseReps"><i class="icon-minus icon-white"></i></button></div></td>
                    </tr>
                  </table>
                </div><div class="weight span4 data-field">
                  <table class="content">
                    <tr>
                      <td class="text"><div>weight: <span class="value" data-bind="text: weight"></span> kg</div></td>
                      <td class="plus-minus-btns"><div><button class="plus-btn btn" data-bind="click: increaseWeight"><i class="icon-plus icon-white"></i></button><button class="minus-btn btn" data-bind="click: decreaseWeight"><i class="icon-minus icon-white"></i></button></div></td>
                    </tr>
                  </table>
                </div><div class="rest span3 data-field">
                  <table class="content">
                    <tr>
                      <td class="text"><div>rest: <span class="value" data-bind="text: rest_time"></span> s</div></td>
                      <td class="plus-minus-btns"><div><button class="plus-btn btn" data-bind="click: increaseRestTime"><i class="icon-plus icon-white"></i></button><button class="minus-btn btn" data-bind="click: decreaseRestTime"><i class="icon-minus icon-white"></i></button></div></td>
                    </tr>
                  </table>
                </div><div class="remove-btn span1">
                  <button class="btn" data-bind="click: $parent.removeSeries"><i class="icon-remove-sign"></i></button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="workout-buttons">
        <div class="row-fluid">
          <div class="span8"></div>
          <div class="span4">
            <button class="delete btn">Delete</button>
            <button class="save btn btn-success">Save</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>