<div class="my-workouts span3">
  <h3 class="jim-title">My workouts</h3>

  <ul class="workout-list nav nav-tabs nav-stacked">
    <li class=""><a href="#"><div class="content"><div class="left">Create or choose one <span class="underline">here</span></div><div class="right"><i class="icon-chevron-right icon-white">​</i>​</div></div></a></li>
    <li class="active"><a href="#"><div class="content"><div class="left">Create or choose one <span class="underline">here</span></div><div class="right"><i class="icon-chevron-right icon-white">​</i>​</div></div></a></li>
    <li class=""><a href="#"><div class="content"><div class="left">Create or choose one <span class="underline">here</span></div><div class="right"><i class="icon-chevron-right icon-white">​</i>​</div></div></a></li>
  </ul>

</div>

<div class="main-panel span9">
  <div class="jim-box">

    <div class="header">
      <h1 class="jim-title">Welcome champ!</h1>
      <h1 class="jim-sub-title">Let's get you started, shall we?</h1>
    </div>

    <div class="separator"></div>

    <div class="instructions">
      <div class="row-fluid">
        <div class="span4">
          <span class="marginalium">1</span>
          <span class="contentium">Select & modify a training. It will be pushed to your mobile</span>
        </div>
        <div class="span4">
          <span class="marginalium">2</span>
          <span class="contentium"><a href="#">Download</a> the JIM mobile application</span>
        </div>
        <div class="span4">
          <span class="marginalium">3</span>
          <span class="contentium">Select your training, push start and... start sweating</span>
        </div>
      </div>
    </div>

    <div class="separator"></div>

    <div class="header">
      <h1 class="jim-title">Workouts</h1>
      <h1 class="jim-sub-title">For starters select and modify one of the <span class="underline">existing regimes</span> below.</h1>
    </div>

    <div class="regimes">
      <div class="regime active">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"></div></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"></div></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"></div></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime active">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"></div></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"></div></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"></div></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"></div></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime active">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"></div></div>
        <div class="name">Fit before summer</div>
      </div>
      <div class="regime">
        <div class="icon"><div class="tick-icon"><i class="icon-ok"></i></div><div class="image"></div></div>
        <div class="name">Fit before summer</div>
      </div>
    </div>

    <div class="selected-regime">
      <div class="name">Fit before summer training <div class="icon"><i class="icon-ok"></i></div></div>

      <div class="exercises">

        <div class="exercise">
          <div class="details row-fluid">
            <div class="name span7">
              <span class="exercise-label">Exercise 1:</span>
              <span class="exercise-name">Incline Dumbbell Press</span>
            </div>
            <div class="add-series span5">
              <button class="btn">Add series <i class="icon-plus-sign"></i></button>
            </div>
          </div>

          <div class="series-list">
            
            <div class="series">
              <div class="row-fluid">
                <div class="icon span1">
                  1
                </div><div class="reps span3">
                  <table class="content">
                    <tr>
                      <td class="plus-minus-btns"><div><button class="plus-btn btn"><i class="icon-plus icon-white"></i></button><button class="minus-btn btn"><i class="icon-minus icon-white"></i></button></div></td>
                      <td class="text"><div>reps: <span class="value">10</span></div></td>
                    </tr>
                  </table>
                </div><div class="weight span4">
                  <table class="content">
                    <tr>
                      <td class="plus-minus-btns"><div><button class="plus-btn btn"><i class="icon-plus icon-white"></i></button><button class="minus-btn btn"><i class="icon-minus icon-white"></i></button></div></td>
                      <td class="text"><div>weight: <span class="value">7</span> kg</div></td>
                    </tr>
                  </table>
                </div><div class="rest span3">
                  <table class="content">
                    <tr>
                      <td class="plus-minus-btns"><div><button class="plus-btn btn"><i class="icon-plus icon-white"></i></button><button class="minus-btn btn"><i class="icon-minus icon-white"></i></button></div></td>
                      <td class="text"><div>rest: <span class="value">15</span> s</div></td>
                    </tr>
                  </table>
                </div><div class="remove-btn span1">
                  <button class="btn"><i class="icon-remove-sign"></i></button>
                </div>
              </div>
            </div>
          </div>

          <div class="series-list">
            
            <div class="series">
              <div class="row-fluid">
                <div class="icon span1">
                  1
                </div><div class="reps span3">
                  <table class="content">
                    <tr>
                      <td class="plus-minus-btns"><div><button class="plus-btn btn"><i class="icon-plus icon-white"></i></button><button class="minus-btn btn"><i class="icon-minus icon-white"></i></button></div></td>
                      <td class="text"><div>reps: <span class="value">10</span></div></td>
                    </tr>
                  </table>
                </div><div class="weight span4">
                  <table class="content">
                    <tr>
                      <td class="plus-minus-btns"><div><button class="plus-btn btn"><i class="icon-plus icon-white"></i></button><button class="minus-btn btn"><i class="icon-minus icon-white"></i></button></div></td>
                      <td class="text"><div>weight: <span class="value">7</span> kg</div></td>
                    </tr>
                  </table>
                </div><div class="rest span3">
                  <table class="content">
                    <tr>
                      <td class="plus-minus-btns"><div><button class="plus-btn btn"><i class="icon-plus icon-white"></i></button><button class="minus-btn btn"><i class="icon-minus icon-white"></i></button></div></td>
                      <td class="text"><div>rest: <span class="value">15</span> s</div></td>
                    </tr>
                  </table>
                </div><div class="remove-btn span1">
                  <button class="btn"><i class="icon-remove-sign"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>