.panel {
  width: 500px;
  max-width: 500px;
}

.login-col {
  display: flex;
  justify-content: center;
}

.sign-up-form {
  display: none;
}

.panel .panel-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}