<div class="dashboard-overview">
  <h2>Overview</h2>

  <div class="row" spin-until="inactiveUsersLoading">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Inactive users</h3>
        </div>

        <div class="panel-body user-reports">
          <user-strip ng-repeat="inactivityReport in inactivityReports | orderBy:'lastActiveDate'"
                      user="inactivityReport.user" ng-click="onUserSelected(inactivityReport.user)">
            {{inactivityReport.inactiveSinceMessage}}
          </user-strip>
        </div>
      </div>
    </div>
  </div>

  <div class="row" spin-until="intensityAlertsLoading">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Intensity alerts last month</h3>
        </div>

        <div class="panel-body user-reports">
          <user-strip ng-repeat="intensityAlert in intensityAlerts | orderBy:'totalIntensityAlerts':true"
                      user="intensityAlert.user" ng-click="onUserSelected(intensityAlert.user)">
            <div class="rating-indicator" tooltip="Number of too hard series.">
              <span class="glyphicon glyphicon-thumbs-down"></span>
              <span class="label label-danger">{{ intensityAlert.ratingCounts.too_hard_count }}</span>
            </div>
            <div class="rating-indicator" tooltip="Number of too easy series.">
              <span class="glyphicon glyphicon-thumbs-up"></span>
              <span class="label label-info">{{ intensityAlert.ratingCounts.too_easy_count }}</span>
            </div>
          </user-strip>
        </div>
      </div>
    </div>
  </div>

  <div class="row" spin-until="totalRestLoading">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Pauses</h3>
        </div>

        <div class="panel-body user-reports">
          <user-strip ng-repeat="restReport in restReports | orderBy:'restChangeInSeconds':true"
                      user="restReport.user" ng-click="onUserSelected(restReport.user)">
            Rest change: {{restReport.restChangeInSeconds}}s
          </user-strip>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="row" spin-until="totalRestLoading">-->
    <!--<h4>Too long on the same training</h4>-->

    <!--<div>-->
      <!--<ul>-->
        <!--<li>how long on the same training</li>-->
        <!--<li>how many exercises on that training</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
</div>
