<div class="container-fluid dashboard">
  <div class="row">
    <div class="col-sm-2">
      <div class="workouts-list">
          <ul class="nav nav-tabs nav-stacked">
              <li ng-class="{highlighted: state.current.name === 'main.dashboard.all'}">
                  <a href="" ng-click="onAllUsersSelected()">
                      <div spin-until="workouts" class="content">
                          All
                      </div>
                  </a>
              </li>
              <li ng-repeat="user in users" ng-class="{highlighted: user.id === getCurrentUserId()}">
                  <a href="" ng-click="onUserSelected(user)">
                      <div class="content">
                          {{user.full_name}}
                      </div>
                  </a>
              </li>
          </ul>
      </div>
    </div>
    <div class="col-sm-10">
      <div class="container-fluid jim-box">
          <table class="table table-bordered table-striped table-responsive">

              <thead>
              <tr>
                  <td class="col-sm-1">
                      <a href="" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                          Date
                          <span ng-show="sortType == 'date' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                          <span ng-show="sortType == 'date' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                      </a>
                  </td>
                  <td class="col-sm-2">
                      <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                          Name
                          <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                          <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                      </a>
                  </td>
                  <td class="col-sm-1">
                      <a href="" ng-click="sortType = 'skipped'; sortReverse = !sortReverse">
                          Series skipped
                          <span ng-show="sortType == 'skipped' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                          <span ng-show="sortType == 'skipped' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                      </a>
                  </td>
                  <td class="col-sm-1">
                      <a href="" ng-click="sortType = 'restChange'; sortReverse = !sortReverse">
                          Rest change
                          <span ng-show="sortType == 'restChange' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                          <span ng-show="sortType == 'restChange' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                      </a>
                  </td>
                  <td class="col-sm-1">
                      <a href="" ng-click="sortType = 'seriesChange'; sortReverse = !sortReverse">
                          Series changed
                          <span ng-show="sortType == 'seriesChange' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                          <span ng-show="sortType == 'seriesChange' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                      </a>
                  </td>
                  <td class="col-sm-1">
                      <a href="" ng-click="sortType = 'intensityAlerts'; sortReverse = !sortReverse">
                          Intensity alerts
                          <span ng-show="sortType == 'intensityAlerts' && !sortReverse" class="glyphicon glyphicon-sort-by-attributes"></span>
                          <span ng-show="sortType == 'intensityAlerts' && sortReverse" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                      </a>
                  </td>
                  <td class="col-sm-3">
                      Comment
                  </td>
                  <td class="col-sm-1">

                  </td>
              </tr>
              </thead>

              <tbody>
              <tr ng-repeat="item in items  | orderBy:sortType:sortReverse"">
                  <td>{{ item.date | date: 'd.M.yyyy' }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.skipped }}</td>
                  <td>{{ item.restChange }}</td>
                  <td>{{ item.seriesChange }}</td>
                  <td>{{ item.intensityAlerts }}</td>
                  <td>{{ item.comment }}</td>
                  <td><button class="btn btn-danger center-block" ng-click="onDeleteExerciseClicked(exerciseType)">View
                  </button></td>
              </tr>
              </tbody>

          </table>
      </div>
    </div>
  </div>
</div>