<div class="dashboard-user-calendar">
  <div class="row main-content">
    <div class="col-sm-12 col-md-5">
      <div ui-calendar="uiConfig.calendar" ng-model="calendarSources"
           calendar="myCalendar1"></div>
    </div>
    <div class=" col-sm-12 col-md-7">
      <div ng-hide="isTrainingSelected">
        <div class="row">
          <div class="col-sm-offset-1">
            <h1><small translate>DASHBOARD_USER_CALENDAR_SELECT_INSTRUCTIONS_TEXT1</small></h1>
            <h2><small translate>DASHBOARD_USER_CALENDAR_SELECT_INSTRUCTIONS_TEXT2</small></h2>
            <div class="container">
              <div class="row icon-bullets">
                <div class="bored-on icon-small col-sm-1" /><h3 class="col-sm5"><small translate>DASHBOARD_USER_CALENDAR_INSTRUCTIONS_TOO_EASY</small></h3>
              </div>
              <div class="row icon-bullets">
                <div class="happy-on icon-small col-sm-1" /><h3 class="col-sm5"><small translate>DASHBOARD_USER_CALENDAR_INSTRUCTIONS_OK</small></h3>
              </div>
              <div class="row icon-bullets">
                <div class="sweat-on icon-small col-sm-1" /><h3 class="col-sm5"><small translate>DASHBOARD_USER_CALENDAR_INSTRUCTIONS_TOO_HARD</small></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ui-view ng-show="isTrainingSelected"></ui-view>
    </div>
  </div>
</div>