<div class="dashboard-user-summary">
  <div class="main-content" ng-show="filteredMeasurementsNotEmpty">
    <div class="row">
      <div class="col-sm-6">
        <nvd3 options='executedExerciseGroupsPieChartOptions' data='filteredPieChartCounts.muscleGroupCounts'></nvd3>
      </div>
      <div class="col-sm-6">
        <nvd3 options='executedExerciseGroupsPieChartOptions' data='filteredPieChartCounts.equipmentGroupCounts'></nvd3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <td class="col-sm-1">
                <a href="" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                  <span translate>DASHBOARD_USER_SUMMARY_DATE</span>
                    <span ng-show="sortType == 'date' && !sortReverse"
                          class="glyphicon glyphicon-sort-by-attributes"></span>
                  <span ng-show="sortType == 'date' && sortReverse"
                        class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                </a>
              </td>
              <td class="col-sm-2">
                <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                  <span translate>DASHBOARD_USER_SUMMARY_NAME</span>
                    <span ng-show="sortType == 'name' && !sortReverse"
                          class="glyphicon glyphicon-sort-by-attributes"></span>
                  <span ng-show="sortType == 'name' && sortReverse"
                        class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                </a>
              </td>
              <td class="col-sm-1">
                <a href="" ng-click="sortType = 'seriesSkipped'; sortReverse = !sortReverse">
                  <span translate>DASHBOARD_USER_SUMMARY_SERIES_SKIPPED</span>
              <span ng-show="sortType == 'seriesSkipped' && !sortReverse"
                    class="glyphicon glyphicon-sort-by-attributes"></span>
              <span ng-show="sortType == 'seriesSkipped' && sortReverse"
                    class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                </a>
              </td>
              <td class="col-sm-1">
                <a href="" ng-click="sortType = 'restTimeChangeInSeconds'; sortReverse = !sortReverse">
                  <span translate>DASHBOARD_USER_SUMMARY_REST_CHANGE</span>
              <span ng-show="sortType == 'restTimeChangeInSeconds' && !sortReverse"
                    class="glyphicon glyphicon-sort-by-attributes"></span>
              <span ng-show="sortType == 'restTimeChangeInSeconds' && sortReverse"
                    class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                </a>
              </td>
              <td class="col-sm-1">
                <a href="" ng-click="sortType = 'seriesNotOkayCount'; sortReverse = !sortReverse">
                  <span translate>DASHBOARD_USER_SUMMARY_INTENSITY_ALERTS</span>
              <span ng-show="sortType == 'seriesNotOkayCount' && !sortReverse"
                    class="glyphicon glyphicon-sort-by-attributes"></span>
              <span ng-show="sortType == 'seriesNotOkayCount' && sortReverse"
                    class="glyphicon glyphicon-sort-by-attributes-alt"></span>
                </a>
              </td>
              <td class="col-sm-3">
                <span translate>DASHBOARD_USER_SUMMARY_COMMENT</span>
              </td>
              <td class="col-sm-1">

              </td>
            </tr>
            </thead>

            <tbody>
            <tr
                ng-repeat="measurementStats in stats.measurementsStats | withinPeriod:periodName | orderBy:sortType:sortReverse">
              <td>{{ measurementStats.date | date: 'd.M.yyyy' }}</td>
              <td>{{ measurementStats.name }}</td>
              <td>{{ measurementStats.seriesSkipped }} (out of {{measurementStats.totalSeries}})</td>
              <td>
                {{ measurementStats.restTimeChangeInSeconds }}s
              </td>
              <td>
                <div class="rating-indicator" tooltip="Number of too hard series.">
                  <span class="glyphicon glyphicon-thumbs-down"></span>
                  <span class="label label-danger">{{ measurementStats.seriesTooHardCount }}</span>
                </div>
                <div class="rating-indicator" tooltip="Number of too easy series.">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                  <span class="label label-info">{{ measurementStats.seriesTooEasyCount }}</span>
                </div>
              </td>
              <td>{{ measurementStats.comment }}</td>
              <td>
                <button class="btn btn-danger center-block" ng-click="goToTrainingDetails(measurementStats.measurement.id)" translate>
                  DASHBOARD_USER_SUMMARY_VIEW
                </button>
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content" ng-hide="filteredMeasurementsNotEmpty">
    <h2 class="text-center" translate>DASHBOARD_USER_SUMMARY_NO_TRAININGS_TEXT</h2>
    <div class="row empty-state-mobile">
    </div>
  </div>
</div>