<div class="dashboard-overview">
  <div class="row" spin-until="inactiveUsersLoading">
    <h2>Overview</h2>

    <h4>Inactive users</h4>

    <ul>
      <li ng-repeat="user in inactiveUsers">
        {{user}}
      </li>
    </ul>

    <div>
      Users, who have not done an exercise in a whole week.

      <ul>
        <li>displays users that have not done any exercises for a month or more.</li>
        <li>displays the date of the last measurement</li>
        <li>people who haven't performed exercises for longest appear closer to top-left.</li>
      </ul>
    </div>
  </div>

  <div class="row" spin-until="intensityAlertsLoading">
    <h4>Intensity alerts</h4>

    <ul>
      <li ng-repeat="intensityAlert in intensityAlerts">
        {{intensityAlert}}
      </li>
    </ul>

    <div>
      <ul>
        <li>Users with the most intensity alerts will appear near the top</li>
      </ul>
    </div>
  </div>

  <div class="row" spin-until="totalRestLoading">
    <h4>Too long pauses</h4>

    <h5>Total</h5>

    <ul>
      <li ng-repeat="totalRest in totalRests">
        {{totalRest}}
      </li>
    </ul>

    <h5>Planned</h5>

    <ul>
      <li ng-repeat="rest in plannedRests">
        {{rest}}
      </li>
    </ul>

    <div>
      <ul>
        <li>users who take too long pauses between exercises should appear near the top here.</li>
      </ul>
    </div>
  </div>

  <div class="row" spin-until="totalRestLoading">
    <h4>Too long on the same training</h4>

    <div>
      <ul>
        <li>how long on the same training</li>
        <li>how many exercises on that training</li>
      </ul>
    </div>
  </div>
</div>
