<div spin-until="statsPromise" class="dashboard-user">
  <div class="row filter">
    <div class="col-sm-6 col-xs-offset-3 top-buffer">
      <div class="btn-group">
        <label class="btn btn-primary" ui-sref="main.dashboard.user.summary" ui-sref-active="active">Summary</label>
        <label class="btn btn-primary" ui-sref="main.dashboard.user.calendar" ui-sref-active="active">Calendar</label>
      </div>
    </div>
    <div class="col-sm-6 col-xs-12 top-buffer">
      <div class="btn-group pull-right" ng-show="rightMenu.visible">
        <label ng-repeat="menuItem in rightMenu.items" class="btn btn-success" ui-sref="{{menuItem.link}}" ui-sref-active="active">{{menuItem.name}}</label>
      </div>
    </div>
  </div>

  <ui-view></ui-view>
</div>