<div id="my-workout" class="dashboard-user-calendar-overview">
  <div class="row header">
    <div spin-until="selectedTraining" class="col-sm-12">
      <h1 class="jim-title">{{selectedTraining.training.name}}</h1>
    </div>
  </div>
  <div class="separator"></div>
  <div class="body">
    <div class="row property large-margin">
      <div class="col-xs-5 col-sm-4 title">Date</div>
      <div class="col-xs-7 col-sm-4 value">{{selectedTraining.date | date: 'd.M.yyyy'}}
      </div>
    </div>
    <div class="row property large-margin">
      <div class="col-xs-5 col-sm-4 title">Start time</div>
      <div class="col-xs-7 col-sm-4 value">{{selectedTraining.date | date: 'HH:mm'}}
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="tabular-section panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Durations</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4 property">
                <div class="title">Total</div>
                <div><span tooltip="Total duration of the training (in minutes).">{{selectedTraining.durationInMinutes | number:0}} min</span>
                </div>
              </div>
              <div class="col-xs-4 property">
                <div class="title">Rest</div>
                <div><span tooltip="Total duration of rest (in minutes).">{{selectedTraining.totalRestInMinutes | number:0}} min</span>
                </div>
              </div>
              <div class="col-xs-4 property">
                <div class="title">Exercise</div>
                <div><span tooltip="Total duration of exercising (in minutes).">{{selectedTraining.totalExercisesInMinutes | number:0}} min</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="tabular-section panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Activities</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4 property">
                <div class="title">Exercises</div>
                <div><span tooltip="Number of exercises performed.">{{selectedTraining.performedExercises}} of {{selectedTraining.totalExercises}}</span>
                </div>
              </div>
              <div class="col-xs-4 property">
                <div class="title">Series</div>
                <div><span
                    tooltip="Number of series performed.">{{selectedTraining.performedSeries}} of {{selectedTraining.totalSeries}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="tabular-section panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Changes</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4 property">
                <div class="title">Rest</div>
                <div><span tooltip="Average rest difference based on planned rest.">{{selectedTraining.restTimeChangeInSeconds | number:0}} s</span>
                </div>
              </div>
              <div class="col-xs-4 property">
                <div class="title">Weight</div>
                <div><span tooltip="Number of weight changes.">{{selectedTraining.weightChangeNumber}} </span> x
                  <span tooltip="Average weight change.">{{selectedTraining.weightChange}} kg</span>
                </div>
              </div>
              <div class="col-xs-4 property">
                <div class="title">Reps</div>
                <div><span
                    tooltip="Number of repetition changes.">{{selectedTraining.repChangeNumber}}</span> x
                  <span tooltip="Average repetition change.">{{selectedTraining.repChange}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="tabular-section panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Series intensity</h3>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="col-xs-4 property">
                <div class="title"></span>Too easy</div>
                <div class="rating-indicator" tooltip="Number of too easy series.">
                  <span class="glyphicon glyphicon-thumbs-up"></span>
                  <span class="label label-info">{{ selectedTraining.seriesTooEasyCount }}</span>
                </div>
              </div>
              <div class="col-xs-4 property">
                <div class="title">Too hard</div>
                <div class="rating-indicator" tooltip="Number of too hard series.">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <span class="label label-danger">{{selectedTraining.seriesTooHardCount}}</span>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Comment</h3>
          </div>

          <div class="panel-body">
            <div>
              {{selectedTraining.comment}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>