<div spin-until="overviewCalculationPromise" class="dashboard-user">
  <h2>Training overview</h2>

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <nvd3 options='executedExerciseGroupsPieChartOptions' data='dashboardStats.muscleGroupCounts'></nvd3>
      </div>
      <div class="col-sm-6">
        <nvd3 options='executedExerciseGroupsPieChartOptions' data='dashboardStats.equipmentGroupCounts'></nvd3>
      </div>
    </div>
  </div>

  <h4>Filter by date</h4>

  <div class="row filter">
    <div class="col-sm-12">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="periodName" btn-radio="'month'">Last month</label>
        <label class="btn btn-primary" ng-model="periodName" btn-radio="'week'">Last week</label>
        <label class="btn btn-primary" ng-model="periodName" btn-radio="'day'">Last 24 hours</label>
        <label class="btn btn-primary" ng-model="periodName" btn-radio="'all'">All</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <td class="col-sm-1">
              <a href="" ng-click="sortType = 'date'; sortReverse = !sortReverse">
                Date
                <span ng-show="sortType == 'date' && !sortReverse"
                      class="glyphicon glyphicon-sort-by-attributes"></span>
              <span ng-show="sortType == 'date' && sortReverse"
                    class="glyphicon glyphicon-sort-by-attributes-alt"></span>
              </a>
            </td>
            <td class="col-sm-2">
              <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">
                Name
                <span ng-show="sortType == 'name' && !sortReverse"
                      class="glyphicon glyphicon-sort-by-attributes"></span>
              <span ng-show="sortType == 'name' && sortReverse"
                    class="glyphicon glyphicon-sort-by-attributes-alt"></span>
              </a>
            </td>
            <td class="col-sm-1">
              <a href="" ng-click="sortType = 'seriesSkipped'; sortReverse = !sortReverse">
                Series skipped
          <span ng-show="sortType == 'seriesSkipped' && !sortReverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="sortType == 'seriesSkipped' && sortReverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
              </a>
            </td>
            <td class="col-sm-1">
              <a href="" ng-click="sortType = 'averageRestDifferenceInSec'; sortReverse = !sortReverse">
                Rest change
          <span ng-show="sortType == 'averageRestDifferenceInSec' && !sortReverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="sortType == 'averageRestDifferenceInSec' && sortReverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
              </a>
            </td>
            <td class="col-sm-1">
              <a href="" ng-click="sortType = 'numberIntensityChanges'; sortReverse = !sortReverse">
                Intensity alerts
          <span ng-show="sortType == 'numberIntensityChanges' && !sortReverse"
                class="glyphicon glyphicon-sort-by-attributes"></span>
          <span ng-show="sortType == 'numberIntensityChanges' && sortReverse"
                class="glyphicon glyphicon-sort-by-attributes-alt"></span>
              </a>
            </td>
            <td class="col-sm-3">
              Comment
            </td>
            <td class="col-sm-1">

            </td>
          </tr>
          </thead>

          <tbody>
          <tr
            ng-repeat="measurementStats in dashboardStats.measurementsStats | withinPeriodFilter:periodName | orderBy:sortType:sortReverse">
            <td>{{ measurementStats.date | date: 'd.M.yyyy' }}</td>
            <td>{{ measurementStats.name }}</td>
            <td>{{ measurementStats.seriesSkipped }} (out of {{measurementStats.totalSeries}})</td>
            <td>
              {{ measurementStats.restTimeChangeInSeconds }}s
            </td>
            <td>
              <div class="rating-indicator" tooltip="Number of too hard series.">
                <span class="glyphicon glyphicon-thumbs-down"></span>
                <span class="label label-danger">{{ measurementStats.seriesTooHardCount }}</span>
              </div>
              <div class="rating-indicator" tooltip="Number of too easy series.">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <span class="label label-info">{{ measurementStats.seriesTooEasyCount }}</span>
              </div>
            </td>
            <td>{{ measurementStats.comment }}</td>
            <td>
              <button class="btn btn-danger center-block" ng-click="goToResults(measurementStats.measurement)">
                View
              </button>
            </td>
          </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>