<div class="dashboard-user-calendar">
  <div class="row main-content">
    <div class="col-sm-12 col-md-5">
      <div ui-calendar="uiConfig.calendar" ng-model="calendarSources"
           calendar="myCalendar1"></div>
    </div>
    <div class=" col-sm-12 col-md-7">
      <div ng-hide="isTrainingSelected">
        <div class="row">
          <div class="col-sm-offset-1">
            <h1><small>Select a training in the calendar ...</small></h1>
            <h2><small>Click on the emoticon to view training details:</small></h2>
            <div class="container">
              <div class="row icon-bullets">
                <div class="bored-on icon-small col-sm-1" /><h3 class="col-sm5"><small>Training was too easy.</small></h3>
              </div>
              <div class="row icon-bullets">
                <div class="happy-on icon-small col-sm-1" /><h3 class="col-sm5"><small>Training was OK.</small></h3>
              </div>
              <div class="row icon-bullets">
                <div class="sweat-on icon-small col-sm-1" /><h3 class="col-sm5"><small>Training was too hard.</small></h3>
              </div>
            </div>

          </div>
        </div>
      </div>
      <ui-view ng-show="isTrainingSelected"></ui-view>
    </div>
  </div>
</div>