<div class="trainee-thumb" ng-click="onTraineeClicked()"
     ng-class="{'filled-width': fillWidth, clickable: !notClickable}">

  <div us-spinner spinner-key="trainee-photo-upload-spinner" spinner-start-active="false"></div>

  <div class="image">
    <img alt="{{trainee.full_name}}'s profile photo" ng-src="{{trainee.photo}}"/>
  </div>

  <div class="details">
    <div class="name-email">
      <div class="name">{{trainee.full_name}}</div>
      <div class="email">{{trainee.email}}</div>
    </div>
    <button class="take-photo btn btn-primary" ng-click="onTakePhoto();  $event.stopPropagation();">
      <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
    </button>
  </div>
</div>