<div class="container-fluid trainee">
  <div class="row training">
    <div class="my-workouts col-sm-3">

      <h3 class="jim-title">{{trainee.full_name}}'s workouts</h3>

      <trainee-thumb trainee="trainee"
                     on-trainee-photo-changed="refreshTrainee()"
                     fill-width="true"
                     not-clickable="true"></trainee-thumb>

      <div class="assign-workout">
        <button class="btn btn-success" ng-click="addPreparedWorkout()">
          Add prepared workout
        </button>
      </div>

      <workouts-list workouts="traineeWorkouts"
                     selected-workout="selectedTraining"
                     on-workout-selected="selectTraining(workout)"
                     on-workout-create="selectTraining(null)">
      </workouts-list>

    </div>
    <div class="main-panel col-sm-9">
      <div class="jim-box">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>