<div class="container-fluid top-jim-box trainees">
  <div class="row">
    <div class="col-xs-12">
      <div class="jim-box">

        <div class="row">
          <div class="col-xs-12">
            <h2 class="jim-sub-title">Choose a trainee: </h2>

            <div class="input-group">
              <div class="input-group-addon">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </div>

              <input class="form-control"
                     type="text"
                     id="keywordSearch"
                     placeholder="Trainees filter"
                     ng-model="searchFilter"/>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="thumbs-grid">
              <promise-spinner promise="trainees"></promise-spinner>
              <div class="thumb"
                   ng-repeat="trainee in trainees | propsFilter: {full_name: searchFilter, email: searchFilter} | orderBy:'full_name'  ">
                <trainee-thumb trainee="trainee"
                               on-trainee-clicked="onTraineeClicked(trainee)"
                               on-trainee-photo-changed="refreshTraineeList()"></trainee-thumb>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>