@import "definitions.scss";

$commingSoonHeight: 179px;
$commingSoonWidth: 178px;
$centralLogoHeight: 193px;
$centralLogoWidth: 293px;
$welcomeHeaderHeight: 240px;
$welcomeHeaderWidth: 1024px;
$featureImageHeight: 346px;
$welcomeImagesWidth: 966px;
$featuresBtnHeight: 102px;
$explanationHeight: 168px;
$headerColour: #FCCA00;
$welcomePageBtnColor: #067cff;
$fistBumpMarginLeft: 12px;
$fistBumpWidth: 149px;
$fistBumpheight: 47px;
$subscriptionFormWidth: 400px;

@mixin welcome-image-width {
  width: $welcomeImagesWidth;
  margin: {
    left: auto;
    right: auto;
  }
}

div.welcome-page {

  div.header {
    background: {
      color: $headerColour;
    }

    div.header-logo {
      height: $welcomeHeaderHeight;
      background-color: $headerColour;

      div.logo-button-container {
        width: $centralLogoWidth;
        height: 0px;
        margin: auto;
        position: relative;

        div.comming-soon {
          position: absolute;
          top: $welcomeHeaderHeight - $commingSoonHeight;
          left: - $welcomeHeaderWidth/4;
          width: $commingSoonWidth;
          height: $commingSoonHeight;
          @include central-image('welcome/commingSoon.png');
        }

        .logo-button {
          position: absolute;
          height: $centralLogoHeight;
          width: $centralLogoWidth;
          top: $welcomeHeaderHeight - $centralLogoHeight;

          @include no-shadow;
          border: 0;
          @include central-image('welcome/JimLogo.png');
        }

        .logo-button:hover {
          position: absolute;
          height: $centralLogoHeight;
          width: $centralLogoWidth;
          top: $welcomeHeaderHeight - $centralLogoHeight;

          @include no-shadow;
          border: 0;
          @include central-image('welcome/VideoMouseOverLogo.png');
        }
      }
    }
  }

  > div.central-strip {

    div.for-whom {
      @include welcome-image-width;
      margin-top: 20px;
      height: $featuresBtnHeight + $featureImageHeight;

      ol.carousel-indicators {
        height: $featuresBtnHeight;
        position: static;

        > li {
          height: $featuresBtnHeight;
          width: $welcomeImagesWidth / 2;
          position: absolute;
          margin: 0;
          @include no-rounding;

          &:nth-child(2) {
            margin-left: $welcomeImagesWidth / 2;
            &.active {
              background-image: image-url("welcome/Welcome_TraineesButtonON.png");
            }

            background-image: image-url("welcome/Welcome_TraineesButton_OFF.png");
          }

          &:nth-child(1) {
            &.active {
              background-image: image-url("welcome/Welcome_TrainersButton_ON.png");
            }

            background-image: image-url("welcome/Welcome_TrainersButton_Off.png");
          }
        }
      }

      div.features-details {
        height: $featureImageHeight;
        background: {
          repeat: no-repeat;
          position: center;
        }

        &.trainees {
          background: {
            image: image-url('welcome/Welcome_FeaturesTrainees.png');
          }
        }

        &.trainers {
          background: {
            image: image-url('welcome/Welcome_FeaturesTrainers.png');
          }
        }
      }

      .carousel-control {
        display: none;
      }
    }

    div.explanation {
      @include welcome-image-width;
      height: $explanationHeight;
      margin-top: 20px;
      @include central-image('welcome/Welcome_JIM_Explain.png');
    }

    div.features {
      $mobileWebImageWidth: 473px;
      $mobileWebImageHeight: 206px;
      $trainerAdviceImageWidth: 472px;
      $trainerAdviceImageHeight: 207px;

      @include welcome-image-width;
      height: $trainerAdviceImageHeight;
      text-align: right;

      div.mobile-web-app {
        position: absolute;
        @include central-image('welcome/MobileWebApp.png');
        @include size($mobileWebImageWidth, $mobileWebImageHeight);
      }

      div.trainer-advice {
        display: inline-block;
        @include central-image('welcome/TrainerAdvice.png');
        @include size($trainerAdviceImageWidth, $trainerAdviceImageHeight);
      }
    }

    div.social {
      @include welcome-image-width;
      height: $explanationHeight;
      @include central-image('welcome/Welcome_Info_GetSocial.png');

      div.twitter {
        @include size($socialBtnDim, $socialBtnDim);
        position: absolute;
        cursor: pointer;

        margin: {
          top: 85px;
          left: 520px - $socialBtnDim - 25px;
        }

        @include central-image('welcome/Welcome_TwitterIcon_OFF.png');

        &:hover {
          @include central-image('welcome/Welcome_TwitterIcon_MouseOver.png');
        }
      }

      div.tumblr {
        @include size($socialBtnDim, $socialBtnDim);
        position: absolute;
        cursor: pointer;

        margin: {
          top: 85px;
          left: 520px;
        }

        @include central-image('welcome/Welcome_TumblrIcon_OFF.png');

        &:hover {
          @include central-image('welcome/Welcome_TumblrIcon_MouseOver.png');
        }
      }
    }

    div.pocket-trousers {
      @include size(157px, 254px);
      margin-top: 0px;
      margin-left: $fistBumpWidth + $fistBumpMarginLeft + 650px;
      position: absolute;
      @include central-image('welcome/Welcome_PocketFooter.png');
    }
  }
}
