div.welcome-page div.header {
  background-color: #FCCA00;
}

div.welcome-page div.header div.header-logo {
  height: 275px;
  background-color: #FCCA00;
}

div.welcome-page div.header div.header-logo div.logo-button-container {
  width: 293px;
  height: 0;
  margin: auto;
  position: relative;
}

div.welcome-page div.header div.header-logo div.logo-button-container div.comming-soon {
  position: absolute;
  top: 96px;
  left: -256px;
  width: 178px;
  height: 179px;
  background-image: url(/welcome/commingSoon.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page div.header div.header-logo div.logo-button-container .logo-button {
  position: absolute;
  height: 193px;
  width: 293px;
  top: 82px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-image: url(/welcome/JimLogo.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page div.header div.header-logo div.logo-button-container .logo-button:hover {
  position: absolute;
  height: 193px;
  width: 293px;
  top: 82px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-image: url(/welcome/VideoMouseOverLogo.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page > div.central-strip div.for-whom {
  width: 966px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 448px;
}

div.welcome-page > div.central-strip div.for-whom ol.carousel-indicators {
  height: 102px;
  position: static;
}

div.welcome-page > div.central-strip div.for-whom ol.carousel-indicators > li {
  height: 102px;
  width: 483px;
  position: absolute;
  margin: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

div.welcome-page > div.central-strip div.for-whom ol.carousel-indicators > li:nth-child(2) {
  margin-left: 483px;
  background-image: url(/welcome/Welcome_TraineesButton_OFF.png);
}

div.welcome-page > div.central-strip div.for-whom ol.carousel-indicators > li:nth-child(2).active {
  background-image: url(/welcome/Welcome_TraineesButtonON.png);
}

div.welcome-page > div.central-strip div.for-whom ol.carousel-indicators > li:nth-child(1) {
  background-image: url(/welcome/Welcome_TrainersButton_Off.png);
}

div.welcome-page > div.central-strip div.for-whom ol.carousel-indicators > li:nth-child(1).active {
  background-image: url(/welcome/Welcome_TrainersButton_ON.png);
}

div.welcome-page > div.central-strip div.for-whom div.features-details {
  height: 346px;
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page > div.central-strip div.for-whom div.features-details.trainees {
  background-image: url(/welcome/Welcome_FeaturesTrainees.png);
}

div.welcome-page > div.central-strip div.for-whom div.features-details.trainers {
  background-image: url(/welcome/Welcome_FeaturesTrainers.png);
}

div.welcome-page > div.central-strip div.for-whom .carousel-control {
  display: none;
}

div.welcome-page > div.central-strip div.explanation {
  width: 966px;
  margin-left: auto;
  margin-right: auto;
  height: 168px;
  margin-top: 20px;
  background-image: url(/welcome/Welcome_JIM_Explain.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page > div.central-strip div.features {
  width: 966px;
  margin-left: auto;
  margin-right: auto;
  height: 207px;
  text-align: right;
}

div.welcome-page > div.central-strip div.features div.mobile-web-app {
  position: absolute;
  background-image: url(/welcome/MobileWebApp.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 473px;
  height: 206px;
}

div.welcome-page > div.central-strip div.features div.trainer-advice {
  display: inline-block;
  background-image: url(/welcome/TrainerAdvice.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 472px;
  height: 207px;
}

div.welcome-page > div.central-strip div.social {
  width: 966px;
  margin-left: auto;
  margin-right: auto;
  height: 168px;
  background-image: url(/welcome/Welcome_Info_GetSocial.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page > div.central-strip div.social div.twitter {
  width: 37px;
  height: 37px;
  position: absolute;
  cursor: pointer;
  margin-top: 85px;
  margin-left: 458px;
  background-image: url(/welcome/Welcome_TwitterIcon_OFF.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page > div.central-strip div.social div.twitter:hover {
  background-image: url(/welcome/Welcome_TwitterIcon_MouseOver.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page > div.central-strip div.social div.tumblr {
  width: 37px;
  height: 37px;
  position: absolute;
  cursor: pointer;
  margin-top: 85px;
  margin-left: 520px;
  background-image: url(/welcome/Welcome_TumblrIcon_OFF.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page > div.central-strip div.social div.tumblr:hover {
  background-image: url(/welcome/Welcome_TumblrIcon_MouseOver.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.welcome-page > div.central-strip div.pocket-trousers {
  width: 157px;
  height: 254px;
  margin-top: 0;
  margin-left: 811px;
  position: absolute;
  background-image: url(/welcome/Welcome_PocketFooter.png);
  background-repeat: no-repeat;
  background-position: center;
}