////////////////////////////////////////////////////////////////////////////////
/// WELCOME PAGE
//

$commingSoonHeight: 179px;
$commingSoonWidth: 178px;
$centralLogoHeight: 193px;
$centralLogoWidth: 293px;
$welcomeHeaderHeight: 240px;
$welcomeHeaderWidth: 1024px;
$featureImageHeight: 346px;
$welcomeImagesWidth: 966px;
$featuresBtnHeight: 102px;
$explanationHeight: 168px;
$headerColour: #FCCA00;
$welcomePageBtnColor: #067cff;
$fistBumpMarginLeft: 12px;
$fistBumpWidth: 149px;
$fistBumpheight: 47px;
$subscriptionFormWidth: 400px;

@mixin welcome-image-width {
  width: $welcomeImagesWidth;
  margin: {
    left: auto;
    right: auto;
  }
}

div.welcome-page {

  div.header {
    background: {
      color: $headerColour;
    }

    div.header-logo {
      height: $welcomeHeaderHeight;
      background-color: $headerColour;

      div.logo-button-container {
        width: $centralLogoWidth;
        height: 0px;
        margin: auto;
        position: relative;

        div.comming-soon {
          position: absolute;
          top: $welcomeHeaderHeight - $commingSoonHeight;
          left: - $welcomeHeaderWidth/4;
          width: $commingSoonWidth;
          height: $commingSoonHeight;
          @include central-image('welcome/commingSoon.png');
        }

        .logo-button {
          position: absolute;
          height: $centralLogoHeight;
          width: $centralLogoWidth;
          top: $welcomeHeaderHeight - $centralLogoHeight;

          @include no-shadow;
          border: 0;
          @include central-image('welcome/JimLogo.png');
        }

        .logo-button:hover {
          position: absolute;
          height: $centralLogoHeight;
          width: $centralLogoWidth;
          top: $welcomeHeaderHeight - $centralLogoHeight;

          @include no-shadow;
          border: 0;
          @include central-image('welcome/VideoMouseOverLogo.png');
        }
      }

      $closeButtonSize: 16px;
      $authPanelWidth: 246px;
      $authMarginRight: 12px;

      div.sign-in-tab {
        @include bold;
        float: right;
        margin-right: $authMarginRight;
        display: inline-block;
        padding: 5px 20px;
        font-size: 0.9em;
        color: white;
        background-color: $welcomePageBtnColor;

        &:hover {
          background-color: lighten($welcomePageBtnColor, 15%);
        }
      }

      $insideAuthPanelPadding: 7px;
      div.auth-panel {
        float: right;
        margin-right: $authMarginRight;
        width: $authPanelWidth;
        padding: $insideAuthPanelPadding;
        background-color: $welcomePageBtnColor;
        clear: both;
        color: white;
        text-align: center;

        div.close-icon {
          position: absolute;
          @include size($closeButtonSize, $closeButtonSize);
          @include central-image('welcome/CloseIcon.png');
          margin-left: $authPanelWidth - $closeButtonSize;
        }
      }

      div.sign-in-panel {

        div.the-form {
          div.title {
            font: {
              size: 1.2em;
              weight: bold;
            }
          }

          div.sub-title {
            margin-bottom: 10px;
          }

          form {
            margin: 15px 0px 0px 0px;
          }

          input.text-input {
            @include flat-text-input;
            background-color: white;
            padding: 4px 6px;
            width: $authPanelWidth - 2 * 6px;
          }

          input.sign-in-btn {
            @include flat-btn;
            background-color: $jimColor;
            width: $authPanelWidth;
            padding: 5px 0px;
          }

          div.remember-me-fields {
            margin-bottom: 10px;

            input#rememberMe {
              display: inline-block;
              vertical-align: middle;
              margin: 0px;
            }
            label {
              font-size: $bodyFontSize;
              margin: 0px;
              display: inline-block;
              vertical-align: middle;
            }
          }

          div.sign-up-link, div.login-link {
            margin-top: 15px;
            color: white;

            a {
              color: white;
              text-decoration: underline;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  > div.central-strip {

    div.for-whom {
      @include welcome-image-width;
      margin-top: 20px;
      height: $featuresBtnHeight + $featureImageHeight;

      ol.carousel-indicators {
        height: $featuresBtnHeight;
        position: static;

        > li {
          height: $featuresBtnHeight;
          width: $welcomeImagesWidth / 2;
          position: absolute;
          margin: 0;
          @include no-rounding;

          &:nth-child(2) {
            margin-left: $welcomeImagesWidth / 2;
            &.active {
              background-image: image-url("welcome/Welcome_TraineesButtonON.png");
            }

            background-image: image-url("welcome/Welcome_TraineesButton_OFF.png");
          }

          &:nth-child(1) {
            &.active {
              background-image: image-url("welcome/Welcome_TrainersButton_ON.png");
            }

            background-image: image-url("welcome/Welcome_TrainersButton_Off.png");
          }
        }
      }

      div.features-details {
        height: $featureImageHeight;
        background: {
          repeat: no-repeat;
          position: center;
        }

        &.trainees {
          background: {
            image: image-url('welcome/Welcome_FeaturesTrainees.png');
          }
        }

        &.trainers {
          background: {
            image: image-url('welcome/Welcome_FeaturesTrainers.png');
          }
        }
      }

      .carousel-control {
        display: none;
      }
    }

    div.explanation {
      @include welcome-image-width;
      height: $explanationHeight;
      margin-top: 20px;
      @include central-image('welcome/Welcome_JIM_Explain.png');
    }

    div.features {
      $mobileWebImageWidth: 473px;
      $mobileWebImageHeight: 206px;
      $trainerAdviceImageWidth: 472px;
      $trainerAdviceImageHeight: 207px;

      @include welcome-image-width;
      height: $trainerAdviceImageHeight;
      text-align: right;

      div.mobile-web-app {
        position: absolute;
        @include central-image('welcome/MobileWebApp.png');
        @include size($mobileWebImageWidth, $mobileWebImageHeight);
      }

      div.trainer-advice {
        display: inline-block;
        @include central-image('welcome/TrainerAdvice.png');
        @include size($trainerAdviceImageWidth, $trainerAdviceImageHeight);
      }
    }

    div.social {
      @include welcome-image-width;
      height: $explanationHeight;
      @include central-image('welcome/Welcome_Info_GetSocial.png');

      div.twitter {
        @include size($socialBtnDim, $socialBtnDim);
        position: absolute;
        cursor: pointer;

        margin: {
          top: 85px;
          left: 520px - $socialBtnDim - 25px;
        }

        @include central-image('welcome/Welcome_TwitterIcon_OFF.png');

        &:hover {
          @include central-image('welcome/Welcome_TwitterIcon_MouseOver.png');
        }
      }

      div.tumblr {
        @include size($socialBtnDim, $socialBtnDim);
        position: absolute;
        cursor: pointer;

        margin: {
          top: 85px;
          left: 520px;
        }

        @include central-image('welcome/Welcome_TumblrIcon_OFF.png');

        &:hover {
          @include central-image('welcome/Welcome_TumblrIcon_MouseOver.png');
        }
      }
    }

    div.pocket-trousers {
      @include size(157px, 254px);
      margin-top: 0px;
      margin-left: $fistBumpWidth + $fistBumpMarginLeft + 650px;
      position: absolute;
      @include central-image('welcome/Welcome_PocketFooter.png');
    }
  }
}
