<div class="take-photo">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <ngf-drop id="photo" ng-model="photo" ngf-accept="'image/*'">
          <div class="photo-drop">
            <div ng-if="!photo" class="no-photo-label">
              <div class="label label-info">Drop the photo here...</div>
            </div>
            <div ng-if="photo" class="selected-photos">
              <div>
                <div class="photo-caption">Chosen photo: {{photo.name}}</div>
                <img class="photo" ngf-src="photo" alt="Photo to upload"/>
              </div>
            </div>
          </div>
        </ngf-drop>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <ngf-select id="photo" class="btn btn-success pull-right" ng-model="photo" ngf-accept="'image/*'">
          Take a photo...
          <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </ngf-select>
      </div>
    </div>
  </div>
</div>
