<div spin-until="exerciseGroups" class="exercise-groups-selector">

  <div class="row">
    <div class="col-sm-12">
      <label>Muscle group:</label>

      <div>
        <div class="btn-group">
          <label class="btn btn-success" ng-repeat="group in bodyGroups" ng-model="selection.group"
                 btn-radio="'group-{{group.id}}'">{{group.name}}</label>
          <label class="btn btn-success" ng-model="selection.group" btn-radio="'{{NO_GROUP}}'">All</label>
        </div>
      </div>
    </div>
  </div>


  <div class="row" style="margin-top: 5px">
    <div class="col-sm-12">
      <label>Equipment:</label>

      <div>
        <div class="btn-group">
          <label class="btn btn-success" ng-repeat="group in machineGroups"
                 ng-model="selection.machineGroup"
                 btn-radio="'machineGroup-{{group.id}}'">{{group.name}}</label>
          <label class="btn btn-success" ng-model="selection.machineGroup" btn-radio="'{{NO_GROUP}}'">All</label>
        </div>
      </div>
    </div>
  </div>
</div>