<div id="footer" class="footer outer-container">
  <div class="inner-container">
    <div class="central-strip">
      <div class="content">
        <div class="copyright-notice">
          TrainerJim &copy; 2012
        </div>
      </div>
    </div>
  </div>
</div>