<div id="header" class="header outer-container">
  <div class="central-strip">
    <div class="logo clickable-link" data-cl-href="<%= home_url  %>"></div>
    <div style="display: inline-block; vertical-align: middle;"><%= AuthenticationHelper.current_user_display_name(session) %></div>
  </div>
</div>
