<div class="trainees-dropdown dropdown" data-bind="with: traineesDropdown">
  <a id="trainees-drop" href="#" role="button" class="nav-button-icon dropdown-toggle people" data-toggle="dropdown">
    <div></div>
  </a>
  <div class="dropdown-menu" aria-labelledby="trainees-drop">
    <ul id="trainee-dropdown" data-bind="foreach: trainees, stripe: trainees, evenClass: 'light', oddClass: 'dark'">
      <li class="trainee" data-bind="click: $root.onTraineeClicked">
        <a class="trainee" href="#">
          <div class="avatar"></div><div class="trainee-name" data-bind="text: full_name"></div>
        </a>
      </li>
    </ul>
    <div class="new-trainee-container">
      <div class="new-trainee">Add or invite a new trainee</div>
    </div>
  </div>
</div>