<div class="popover-box">
  <textarea class="input" placeholder="Type your comment here....." ></textarea>
  <input type="submit" id="close" value="Close"/>
  <input type="submit" id="post" value="Post"/>
</div>
