<div class="popover-box">
  <div class="input" contenteditable="true">Type your comment here.</div>
  <input type="submit" id="close" value="Close"/>
  <input type="submit" id="post" value="Post"/>
</div>