<div class="auth-sign-up-form">
  <form>
    <div class="email-fields">
      <input type="text"
             name="email"
             autofocus="true"
             class="text-input"
             placeholder="your@email.com"
             ng-model="email"/>
    </div>

    <div class="pwd-fields">
      <input type="password"
             name="password"
             class="text-input"
             placeholder="your password"
             ng-model="password"/>
    </div>

    <div class="pwd-fields">
      <input type="password"
             name="passwordConfirmation"
             class="text-input"
             placeholder="confirm your password"
             ng-model="passwordConfirmation"/>
    </div>

    <div class="submit-btn">
      <input type="submit"
             value="Sign up"
             class="submit-btn"
             ng-click="onSignupClicked({email: email, password: password, passwordConfirmation: passwordConfirmation})"/>
    </div>
  </form>
</div>
