<div class="auth-sign-up-form">
  <form>
    <input type="text"
           name="email"
           autofocus="true"
           class="text-input"
           placeholder="your@email.com"
           ng-model="email"/>

    <input type="text"
           name="full_name"
           autofocus="true"
           class="text-input"
           placeholder="your name"
           ng-model="full_name"/>

    <input type="text"
           name="registration_token"
           autofocus="true"
           class="text-input"
           placeholder="your registration token"
           ng-model="registration_token"/>

    <input type="password"
           name="password"
           class="text-input"
           placeholder="your password"
           ng-model="password"/>

    <input type="submit"
           value="Sign up"
           class="submit-btn"
           ng-click="onSignupClicked({email: email, password: password, full_name: full_name, registration_token: registration_token})"/>
  </form>
</div>
