div.auth-sign-up-form {
  input.text-input {
    @include no-shadow;
    @include no-rounding;
    border: 1px solid #ccc;
    background-color: white;
    padding: 4px 6px;
    width: 100%;
    margin-bottom: 5px;
    color: #005577;
  }

  input.submit-btn {
    @include flat-btn;
    background-color: $jimColor;
    width: 100%;
    padding: 5px 0px;
    color: #ffffff;
  }
}