<div class="under-construction-panel">
  <img src="assets/logo_full_medium.png" alt="TrainerJim" />
  <div class="moto">
    Easier. Faster. Fluid. The perpetual link between the trainer and you.
  </div>
  <div class="construction-notice">
    Coming soon...
  </div>
</div>