<div class="central-strip">
  <h1>TrainerJim</h1>
  <p>Hello world!</p>
  <div>
    <%= t :hello, user: 'New User' %>
    <%= @u.authenticate('Hrt 2309 Vili') ? 'Authenticated' : 'Not authenticated' %>
    <%= @u.admin? ? 'Admin' : 'Not admin' %>
    <div><%= @u.display_name  %></div>
  </div>
</div>