<div id="soon-welcome">
<div class="background"></div>
<div style="overflow: hidden; height: 0px; width: 0px;">.</div>
<div class="under-construction-panel">
  <div class="logo"></div>
  <div class="moto">
    <%= t :motto %>
  </div>
  <div class="construction-notice">
    <%= t :soon %>
  </div>
</div>
</div>
