<div id="training-list">
  <div class="main-page-title">
    Seznam razpoložljivih treningov
  </div>
  <% Training.all.each do |t| %>
    <div class="training-entry">
      <a href="<%= training_url(t.id)  %>"><%= t.name %></a>
    </div>
  <% end  %>
</div>