<div class="welcome-page">
  
  <div class="header"></div>
  
  <div class="central-strip">
    <div class="for-whom">
      <div class="buttons">
        <div class="btn-for-trainees">
        </div>
        <div class="btn-for-trainers">
        </div>
      </div>
      <div class="features-details"></div>
    </div>
    
    <div class="explanation"></div>
    
    <div class="social">
      <div class="twitter"></div>
      <div class="tumblr"></div>
    </div>
  </div>
  
</div>