<div class="welcome-page">
  <div class="central-strip">
    <div class="header">
    </div>
    <div class="for-whom">
      <div class="features-details"></div>
    </div>
    <%= welcome_url %>
  </div>
</div>