div.exercise-type-editor .text-input {
    width: 100%;
}

div.exercise-type-editor div.image-drop {
    border: 1px dashed gray;
    padding: 10px 10px 13px;
    text-align: center;
}

div.exercise-type-editor .image-select {
    width: 100%;
}

div.exercise-type-editor .submit-btn {
    width: 100%;
}

div.exercise-type-editor .row {
    margin: 5px 0;
}

