<div id="login" class="outer-container">
  <div class="inner-container">
    <%= render :partial => 'shared/login-panel', :locals => {:redirect_url => defined?(redirect_url) ? redirect_url : nil} %>
  </div>
</div>