<div class="auth-registration-form">
  <form>
    <div class="title">Welcome champ.</div>
    <div class="sub-title">Nice to have you on board.</div>


    <div class="email-fields">
      <input type="text" name="email" autofocus="true" class="text-input" placeholder="your@email.com" ng-model="email"/>
    </div>

    <div class="pwd-fields">
      <input type="password" name="password" class="text-input" placeholder="your password" ng-model="password"/>
    </div>

    <div class="pwd-fields confirmation">
      <input type="password" name="passwordConfirmation" class="text-input" placeholder="confirm your password" ng-model="passwordConfirmation"/>
    </div>

    <div class="submit-btn">
      <input type="submit" value="sign up" class="sign-in-btn" ng-click="registerClicked(email, password, passwordConfirmation)"/>
    </div>
  </form>
</div>