<div class="modal-header">
  <h3 class="modal-title">Select exercise type:</h3>
</div>

<div class="modal-body">
  <ui-select ng-model="exerciseType.selected" style="min-width: 300px;">
    <ui-select-match placeholder="Select an exercise in the list or search for it">{{$select.selected.name}}
    </ui-select-match>
    <ui-select-choices repeat="exerciseType in exerciseTypes | propsFilter: {name: $select.search}">
      <div ng-bind-html="exerciseType.name | highlight: $select.search"></div>
    </ui-select-choices>
  </ui-select>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>