<div class="exercise-type-editor">
  <form>

    <div class="row">
      <div class="col-sm-12">
        <label for="name">Name:</label>
        <input id="name"
               type="text"
               name="name"
               autofocus="true"
               class="text-input"
               placeholder="exercise name"
               ng-model="exerciseType.name"/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <label for="short_name">Short name (for mobiles):</label>
        <input id="short_name"
               type="text"
               name="short_name"
               autofocus="true"
               class="text-input"
               placeholder="exercise short name"
               ng-model="exerciseType.short_name"/>
      </div>
    </div>

    <div class="row" ng-if="userDetails.is_admin">
      <div class="col-sm-12">
        <label for="short_name">Owner:</label>
        <user-selector user-id="exerciseType.owner_id"></user-selector>
      </div>
    </div>

  </form>
</div>
