<div class="exercise-type-panel">
  <div class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span style="font-weight: bold;">Choose exercises:</span>
        </div>

        <input class="form-control"
               autofocus="autofocus"
               type="text"
               id="keywordSearch"
               placeholder="Exercise filter"
               ng-model="filter.keyword"/>
      </div>
    </div>
  </div>

  <div class="row exercise-group-grid">
    <div class="col-sm-12">
      <div class="well">
        <exercise-groups-selector selected-exercise-group-ids="selectedExerciseGroupIds"
                                  exercise-groups="exerciseGroups"></exercise-groups-selector>
      </div>
    </div>
  </div>

  <div spin-until="exerciseTypes" class="row exercise-type-grid">
    <div class="col-sm-12">
      <div class="exercise-type-item"
           ng-repeat="exerciseType in exerciseTypes | propsFilter: {name: filter.keyword} | bySelectedGroups: selectedExerciseGroupIds | orderBy:'name'">
        <div ng-click="onExerciseTypeClicked({exerciseType: exerciseType})">
          <div class="thumb"><img ng-src="{{getPrimaryPhoto(exerciseType)}}"/></div>
          <div class="name">
            <div class="name-text" ng-bind-html="exerciseType.name | highlight: filter.keyword"></div>
          </div>
        </div>
        <div class="edit-btn btn btn-primary" ng-click="onExerciseTypeEditClicked({exerciseType: exerciseType})">
          <div class="glyphicon glyphicon-edit"></div>
        </div>
        <div class="edit-btn delete-btn btn btn-danger" ng-click="onExerciseTypeDeleteClicked({exerciseType: exerciseType})"
             ng-if="canEditExerciseType(exerciseType)">
          <div class="glyphicon glyphicon-remove-sign"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="add-exercise-type-btn" ng-click="onExerciseTypeAddClicked()">
    <div class="glyphicon glyphicon-plus"></div>
  </div>
</div>