<div class="exercise-type-details">

  <div class="row">
    <div class="col-xs-12 col-sm-10">
      <div class="description"></div>
    </div>
    <div class="col-xs-12 col-sm-2">
      <div>
        <button class="pull-right take-photo btn btn-primary" ng-click="onTakePhotoClicked()">
          <span translate>EXERCISE_EDITOR_TAKE_PHOTO</span><span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <div spin-until="photoUploaded" class="row">
    <div class="col-sm-12">
      <div>
        <div class="photo" ng-repeat="photo in userPhotos">
          <photo-thumb photo="photo"
                       is-deletable="canDeletePhoto(photo)"
                       on-photo-clicked="onPhotoClicked($index);"
                       on-delete-clicked="onDeletePhotoClicked(photo)"/>
        </div>
      </div>
    </div>
  </div>
</div>