<div class="exercise-type-panel">
  <div ng-if="isChoosingExerciseTypes" class="row">
    <div class="col-xs-12">
      <div class="input-group">
        <div class="input-group-addon">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          <span style="font-weight: bold;">Choose exercises:</span>
        </div>

        <input class="form-control"
               type="text"
               id="keywordSearch"
               placeholder="Exercise filter"
               ng-model="filter.keyword"/>
      </div>
    </div>
  </div>

  <div class="row exercise-group-grid" ng-if="hasAnyGroups()">
    <div class="col-sm-12">
      <div class="well">
        <div class="row">
          <div class="col-sm-6">
            <div class="btn-group">
              <label class="btn btn-success" ng-repeat="exerciseGroup in exerciseGroups" ng-model="selection.group"
                     btn-radio="'group-{{exerciseGroup.id}}'">{{exerciseGroup.name}}</label>
              <label class="btn btn-success" ng-model="selection.group" btn-radio="'{{NO_GROUP}}'">All</label>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="btn-group pull-right">
              <label class="btn btn-success" ng-repeat="exerciseGroup in machineGroups"
                     ng-model="selection.machineGroup" btn-radio="'machineGroup-{{exerciseGroup.id}}'">{{exerciseGroup.name}}</label>
              <label class="btn btn-success" ng-model="selection.machineGroup" btn-radio="'{{NO_GROUP}}'">All</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="isChoosingExerciseTypes" spin-until="exerciseTypes" class="row exercise-type-grid">
    <div class="col-sm-12">
      <div class="exercise-type-item"
           ng-repeat="exerciseType in exerciseTypes | propsFilter: {name: filter.keyword} | bySelectedGroups: getSelectedGroupIds() | orderBy:'name'">
        <div ng-click="onExerciseTypeClicked({exerciseType: exerciseType})">
          <div class="thumb"><img ng-src="{{getPrimaryPhoto(exerciseType)}}"/></div>
          <div class="name" ng-bind-html="exerciseType.name | highlight: filter.keyword"></div>
        </div>
        <div class="edit-btn btn btn-primary" ng-click="onExerciseTypeEditClicked(exerciseType)" ng-if="canEditExerciseType(exerciseType)">
          <div class="glyphicon glyphicon-edit"></div>
        </div>
        <div class="edit-btn delete-btn btn btn-danger" ng-click="onExerciseTypeDeleteClicked(exerciseType)" ng-if="canEditExerciseType(exerciseType)">
          <div class="glyphicon glyphicon-remove-sign"></div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!isChoosingExerciseTypes" spin-until="newExerciseTypeSaving" class="row">
    <div class="col-sm-12">
      <h3>{{editExerciseTypeTitle()}}</h3>
      <exercise-type-editor exercise-type="editedExerciseType"></exercise-type-editor>
    </div>
    <div class="col-sm-12 pull-right">
      <fieldset disable-until="newExerciseTypeSaving">
        <button class="btn btn-danger pull-right" ng-click="onNewExerciseCancelClicked()">
          Cancel
        </button>
        <button class="btn btn-primary pull-right" style="margin-right: 5px;" ng-click="onNewExerciseSaveClicked()">
          Save
        </button>
      </fieldset>
    </div>
  </div>

  <div ng-if="isChoosingExerciseTypes" class="add-exercise-type-btn" ng-click="onCreateExerciseTypeClicked()">
    <div class="glyphicon glyphicon-plus"></div>
  </div>
</div>