<div ng-if="editedExerciseType" class="modal-header">
  <h3 ng-if="editedExerciseType.id != null" class="modal-title">Edit exercise</h3>
  <h3 ng-if="editedExerciseType.id == null" class="modal-title">Create new exercise</h3>
</div>

<div class="modal-body">
  <exercise-type-panel ng-if="!editedExerciseType"
                       on-exercise-type-clicked="onExerciseTypeClicked(exerciseType)"
                       on-exercise-type-add-clicked="onExerciseTypeAddClicked()"
                       on-exercise-type-edit-clicked="onExerciseTypeEditClicked(exerciseType)"
                       on-exercise-type-delete-clicked="onExerciseTypeDeleteClicked(exerciseType)"
                       editor-user-id="editorUserId"
                       is-admin-mode="isAdminMode"
                       exercise-groups="exerciseGroups"
                       exercise-types="exerciseTypes"
                       user-exercise-type-photos="userExerciseTypePhotos"></exercise-type-panel>
  <exercise-type-editor ng-if="editedExerciseType"
                        exercise-type="editedExerciseType"
                        on-saved="onExerciseTypeSaved(exerciseType)"
                        on-cancel-clicked="onEditCancelClicked(exerciseType)"
                        on-photo-added="onPhotoAdded(userExerciseTypePhoto)"
                        on-photo-removed="onPhotoRemoved(userExerciseTypePhoto)"
                        is-admin-mode="isAdminMode"
                        editor-user-id="editorUserId"
                        exercise-groups="exerciseGroups"></exercise-type-editor>
</div>

<div class="modal-footer">
  <span class="pull-left">Exercise images source: <a href="http://db.everkinetic.com/">Everkinetic</a></span>
  <button class="btn btn-warning" ng-click="cancel()">Close</button>
</div>