<div class="exercise-type-editor">
  <form>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label for="name">Name:</label>
          <input id="name"
                 type="text"
                 name="name"
                 autofocus="autofocus"
                 class="form-control"
                 placeholder="exercise name"
                 ng-model="exerciseType.name"/>
        </div>
      </div>
    </div>

    <div class="row" ng-if="isAdminMode">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Owner:</label>
          <user-selector user-id="exerciseType.owner_id"></user-selector>
        </div>
      </div>
    </div>
  </form>
</div>
