<div class="exercise-type-details">

  <span us-spinner spinner-key="exercise-type-details-photo-upload-spinner" spinner-start-active="false"></span>

  <div class="row">
    <div class="col-sm-12">
      <div>
        <button class="take-photo btn btn-primary" ng-click="onTakePhotoClicked()">
          Take a photo <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div>
        <div class="photo" ng-repeat="photo in userPhotos">
          <photo-thumb photo="photo"
                       is-deletable="canDeletePhoto(photo)"
                       on-photo-clicked="onPhotoClicked($index);"
                       on-delete-clicked="onDeletePhotoClicked(photo)"/>
        </div>
      </div>
    </div>
  </div>
</div>