.admin .admin-menu .section-link.active a {
    background-color: #0083ce;
    color: white;
}

@media (max-width: 767px) {
  .admin .col-xs-12, .admin .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .admin .jim-box {
    margin-top: 25px;
  }

  .admin .row {
    margin: 0;
  }
}