<div class="sign-in-tab button-behaviour" ng-click="togglePanelVisibility($event)">sign in</div>

<div class="sign-in-panel auth-panel" ng-show="isPanelVisible">
  <div class="close-icon button-behaviour"></div>

  <div class="the-form">
    <div class="login-part" ng-show="isLoginActive">
      <div class="title">Welcome back, champ.</div>
      <div class="sub-title">Back for more strength?</div>

      <div class="email-fields">
        <input type="text" name="loginEmail" autofocus="true" class="text-input" placeholder="your@email.com" />
      </div>

      <div class="pwd-fields">
        <input type="password" name="loginPassword" class="text-input" placeholder="your password" />
      </div>

      <div class="remember-me-fields">
        <input id="rememberMe" type="checkbox" name="rememberMe" /> <label for="rememberMe">Remember me...</label>
      </div>

      <div class="submit-btn">
        <input type="submit" value="sign in" class="sign-in-btn" />
      </div>

      <div class="login-link">
        Not yet a member? <a href="#" ng-click="toggleLoginActive($event)">Click here to register.</a>
      </div>
    </div>

    <div class="registration-part" ng-show="!isLoginActive">
      <div class="title">Welcome champ.</div>
      <div class="sub-title">Nice to have you on board.</div>


      <div class="email-fields">
        <input type="text" name="loginEmail" autofocus="true" class="text-input" placeholder="your@email.com" />
      </div>

      <div class="pwd-fields">
        <input type="password" name="loginPassword" class="text-input" placeholder="your password" />
      </div>

      <div class="pwd-fields confirmation">
        <input type="password" name="loginPasswordConfirmation" class="text-input" placeholder="confirm your password" />
      </div>

      <div class="submit-btn">
        <input type="submit" value="sign in" class="sign-in-btn" />
      </div>

      <div class="login-link">
        Already a member? <a href="#" ng-click="toggleLoginActive($event)">Click here to log in.</a>
      </div>
    </div>
  </div>

</div>