<div class="duration-exercise-editor">
  <div class="row">
    <div class="col-sm-6">
      <table>
        <tr>
          <td class="duration-label">
            duration:
          </td>
          <td class="duration-input">
            <input class="duration"
                   type="number"
                   ng-model="selectedSeries.repeat_count"/>
          </td>
          <td class="unit-label">
            seconds
          </td>
          <td class="plus-minus-dial">
            <plus-minus-dial on-increment="incrementDuration()"
                             on-decrement="decrementDuration()"></plus-minus-dial>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-sm-6">
      <series-editor series="exercise.series"
                     on-selected-series-changed="changeSelectedSeries(series)"></series-editor>
    </div>
  </div>
</div>