<div class="exercise exercise-editor">

  <span us-spinner spinner-key="user-exercise-type-photo-upload-spinner" spinner-start-active="false"></span>

  <div class="details row button-behaviour">
    <div class="col-sm-12">
      <div class="name">
        <span class="glyphicon glyphicon-move move" aria-hidden="true"></span>

        <div class="exercise-label" ng-click="showDescription=!showDescription">
          Exercise: {{exercise.exercise_type.name}}
        </div>

        <button class="take-photo btn btn-primary pull-right" ng-click="onTakePhotosClicked()">
          Take photos <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>


  <div class="guidance-type-editor" ng-switch="exercise.guidance_type">
    <div ng-switch-when="manual">
      <manual-exercise-editor exercise="exercise"></manual-exercise-editor>
    </div>
    <div ng-switch-when="duration">
      <duration-exercise-editor exercise="exercise"></duration-exercise-editor>
    </div>
  </div>


  <div class="description">
    <div class="description-show-hide" ng-if="showDescription">
      <div class="description-label">Instructions for {{exercise.exercise_type.name}}</div>
      <exercise-type-details exercise-type-id="exercise.exercise_type.id" user-id="training.trainee.id"></exercise-type-details>
    </div>
  </div>

  <div class="details row button-behaviour">
    <div class="col-sm-12">
      <div class="exercise-top-btns">
        <button class="delete-btn btn-danger btn exercise-action white-text"
                ng-click="onExerciseRemove(exercise)">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete
        </button>
        <button class="btn btn-warning exercise-action white-text" ng-click="onApplyToAllSeries(exercise)">
          <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <span
          class="the-button">Apply to all series</span>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default exercise-action dropdown-toggle" data-toggle="dropdown"
                  aria-expanded="false">
            Type: {{exercise.guidance_type}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" ng-click="setExerciseToManual()">manual</a></li>
            <li><a href="#" ng-click="setExerciseToDuration()">duration</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
