<div class="exercise-series-editor">
  <div class="row">
    <div class="first col-xs-6 col-sm-3 right-padding">
      <table>
        <tr>
          <td class="series-field-label" ng-show="isDurationType()" translate>
            EXERCISE_SERIES_EDITOR_TYPE_DURATION
          </td>
          <td class="series-field-label" ng-hide="isDurationType()" translate>
            EXERCISE_SERIES_EDITOR_TYPE_REPS
          </td>
          <td class="series-field">
            <input type="number" ng-model="selectedSeries.repeat_count"/>
          </td>
          <td class="plus-minus-dial">
            <plus-minus-dial on-increment="incrementFirstField()"
                             on-decrement="decrementFirstField()"></plus-minus-dial>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-6 col-sm-3">
      <table>
        <tr>
          <td class="series-field-label" translate>
            EXERCISE_SERIES_EDITOR_WEIGHT
          </td>
          <td class="series-field">
            <input type="number" ng-model="selectedSeries.weight"/>
          </td>
          <td>
            <plus-minus-dial on-increment="increaseSeriesWeight()"
                             on-decrement="decreaseSeriesWeight()"></plus-minus-dial>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-xs-6 col-sm-3 right-padding">
      <table>
        <tr>
          <td class="series-field-label" translate>
            EXERCISE_SERIES_EDITOR_REST
          </td>
          <td class="series-field">
            <input type="number" ng-model="selectedSeries.rest_time"/>
          </td>
          <td class="plus-minus-dial">
            <plus-minus-dial on-increment="increaseSeriesRest()"
                             on-decrement="decreaseSeriesRest()"></plus-minus-dial>
          </td>
        </tr>
      </table>
    </div>
    <div class="last col-xs-6 col-sm-3">
      <series-editor series="exercise.series"
                     on-selected-series-changed="changeSelectedSeries(series)"></series-editor>
    </div>
  </div>
</div>