<div class="series-list">
  <div class="series">
    <div class="row">
      <div class="reps col-sm-3 data-field">
        <table class="content">
          <tr>
            <td class="text">
              <div>reps: <input class="value" type="number"
                                ng-model="selectedSeries.repeat_count"/>
              </div>
            </td>
            <td>
              <plus-minus-dial on-increment="increaseSeriesRepetitions()"
                               on-decrement="decreaseSeriesRepetitions()"></plus-minus-dial>
            </td>
          </tr>
        </table>
      </div>
      <div class="weight col-sm-3 data-field">
        <table class="content">
          <tr>
            <td class="text">
              <div>weight: <input class="value" type="number" ng-model="selectedSeries.weight"/> kg
              </div>
            </td>
            <td>
              <plus-minus-dial on-increment="increaseSeriesWeight()"
                               on-decrement="decreaseSeriesWeight()"></plus-minus-dial>
            </td>
          </tr>
        </table>
      </div>
      <div class="rest col-sm-3 data-field">
        <table class="content">
          <tr>
            <td class="text">
              <div>rest: <input class="value" type="number" ng-model="selectedSeries.rest_time"/> s
              </div>
            </td>
            <td>
              <plus-minus-dial on-increment="increaseSeriesRest()"
                               on-decrement="decreaseSeriesRest()"></plus-minus-dial>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-sm-3">
        <series-editor series="exercise.series"
                       on-selected-series-changed="changeSelectedSeries(series)"></series-editor>
      </div>
    </div>
  </div>
</div>