.header-menu {
  font-weight: bold;
  height: 50px;
}

.header-menu div.logo-part {
  width: 164px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .header-menu .navbar > .container {
    padding-left: 0;
    padding-right: 10px;
    width: 766px;
  }

  .header-menu div.logo-part {
    width: 90px;
  }

  .header-menu .navbar-default .navbar-nav > li > a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.header-menu ul.left-part li button {
  margin-left: 5px;
  margin-right: 5px;
}

.header-menu div.logo-part div.logo {
  vertical-align: middle;
  background-image: url(/header/Logo.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
}

.header-menu .navbar-default {
  background-color: #FBC912;
  border-color: #ffbf00;
  margin-top: -1px;
  background-image: none;
}

#jim-header-collapse-target {
  max-height: 420px;
}

.header-menu .navbar-default .navbar-brand {
  color: white;
}

.header-menu .navbar-default .navbar-brand:hover, .header-menu .navbar-default .navbar-brand:focus {
  color: white;
}

.header-menu .navbar-default .navbar-text {
  color: white;
}

.header-menu .navbar-default .navbar-nav > li > a {
  color: white;
}

.header-menu .navbar-default .navbar-nav > li > a:hover, .header-menu .navbar-default .navbar-nav > li > a:focus {
  background-color: #ffbf00;
  color: white;
}

.header-menu .navbar-default .navbar-nav > .active > a, .header-menu .navbar-default .navbar-nav > .active > a:hover, .header-menu .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-image: url(/header/Gradient_ClickedState_1px.png);
}

.header-menu .navbar-default .navbar-nav > .open > a, .header-menu .navbar-default .navbar-nav > .open > a:hover, .header-menu .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #ffbf00;
}

.header-menu .navbar-default .navbar-toggle {
  border-color: #ffbf00;
}

.header-menu .navbar-default .navbar-toggle:hover, .header-menu .navbar-default .navbar-toggle:focus {
  background-color: #ffbf00;
}

.header-menu .navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.header-menu .navbar-default .navbar-collapse,
.header-menu .navbar-default .navbar-form {
  border-color: white;
}

.header-menu .navbar-default .navbar-link {
  color: white;
}

.header-menu .navbar-default .navbar-link:hover {
  color: white;
}

.header-menu .current-user-btns .button-container {
  display: flex;
  align-items: center;
  height: 50px;
}

.header-menu .current-user-btns .thumb-btn {
  padding: 0;
  margin-right: 10px;
}

.header-menu .current-user-btns .thumb-btn .avatar {
  padding: 2px;
  height: 43px;
}

.header-menu .current-user-btns .thumb-btn .avatar img {
  max-height: 37px;
  border-radius: 3px;
}

.header-menu .current-user-btns .thumb-btn .caret {
  margin: 10px;
}

.header-menu img.language-flag {
  max-width: 32px;
}

@media (max-width: 767px) {

  .header-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: white;
  }

  .header-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .header-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
  }

  .header-menu .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .header-menu .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .header-menu .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #ffbf00;
  }
}