div.duration-exercise-editor {
  background-color: #FFF;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 5px;
}

div.duration-exercise-editor .duration-label {
  padding-right: 5px;
  text-align: right;
}

div.duration-exercise-editor .unit-label {
  padding-right: 5px;
}

div.duration-exercise-editor .duration-input {
  padding-right: 5px;
}

div.duration-exercise-editor input.duration {
  border: none;
  font-size: 2em;
  width: 100%;
}