div.exercise-editor {
  border: 1px solid #cecece;
  background-color: #eee;
  margin-bottom: 5px;
}

div.exercise-editor .exercise-top-btns {
  padding: 5px;
}

div.exercise-editor .description-label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

div.exercise-editor .description-show-hide {
  margin: 5px;
  padding: 5px;
  background: white;
}

div.exercise-editor .guidance-type-editor {
  padding: 5px 5px 0 5px;
}

div.exercise-editor button.exercise-action {
  margin: 2px;
}

div.exercise-editor button.white-text {
  color: white;
}