div.exercise-series-editor {
  background-color: #FFF;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 5px;
}

div.exercise-series-editor table {
  width: 100%;
}

div.exercise-series-editor td.series-field-label {
  padding-right: 5px;
}

div.exercise-series-editor td.series-field {
  padding-right: 5px;
}

div.exercise-series-editor td.series-field input {
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0 3px;
  border: none;
  font-size: 2em;
  width: 100%;
}