.exercise-series-editor {
  background-color: #FFF;
  margin-bottom: 5px;
  border-radius: 3px;
  padding: 5px;
}

.exercise-series-editor table {
  width: 100%;
}

@media (max-width: 769px) {
  .exercise-series-editor .col-sm-3 {
    padding: 0 15px;
  }
}

@media (min-width: 769px) {
  .exercise-series-editor .first.col-sm-3 {
    padding-left: 15px;
  }

  .exercise-series-editor .col-sm-3 {
    padding: 0 2px;
  }

  .exercise-series-editor .last.col-sm-3 {
    padding-right: 15px;
  }
}

.exercise-series-editor td.series-field-label {
  padding-right: 5px;
}

.exercise-series-editor td.series-field {
  padding-right: 5px;
}

.exercise-series-editor td.series-field input {
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 0 3px;
  border: none;
  font-size: 2em;
  width: 100%;
}