<div class="workouts-instructions">
  <div class="row">
    <div class="col-sm-12">
      <h1 translate>WORKOUTS_INSTRUCTION_TITLE</h1>

      <div class="row steps">
        <div class="col-sm-12 col-md-4 step">
          <div class="header">
            <div class="number">
              1
            </div>
            <div class="description">
              <h3>
                Create a workout template
              </h3>
            </div>
          </div>

          <p>
            Click the button below to create a new workout template.
          </p>

          <p>
            <a class="btn btn-success" ui-sref="main.workouts.workout">
              Create new template
            </a>
          </p>
        </div>
        <div class="col-sm-12 col-md-4 step">
          <div class="header">
            <div class="number">
              2
            </div>
            <div class="description">
              <h3>
                Edit a workout template
              </h3>
            </div>
          </div>

          <p>
            Click on an existing workout in the list on the left.
          </p>
        </div>
        <div class="col-sm-12 col-md-4 step">
          <div class="header">
            <div class="number">
              3
            </div>
            <div class="description">
              <h3>
                Assign workouts to trainees
              </h3>
            </div>
          </div>

          <p>
            Finally, assign workouts to your trainees, click on the
            button below.
          </p>

          <p>
            <a class="btn btn-success" ui-sref="main.trainees">
              My trainees
            </a>
          </p>
        </div>
      </div>
      <div class="row empty-state-legs">
      </div>
    </div>
  </div>
</div>