<div class="workouts-instructions">
  <h1>Workouts</h1>

  <p>
    Here you can create workout templates for your trainees.
  </p>

  <p>
    Click the button below to create a new workout template.
  </p>

  <p>
    <a class="btn btn-success" ui-sref="main.workouts.workout">Create new template</a>
  </p>

  <p>
    Once you've created the template, you can assign the template to
    your trainees. To see your trainees, click on the button below.
  </p>

  <p>
    <a class="btn btn-success" ui-sref="main.trainees">My trainees</a>
  </p>
</div>