<div class="workouts-instructions">
  <div class="row">
    <div class="col-sm-12">
      <h1 translate>WORKOUTS_INSTRUCTION_TITLE</h1>

      <div class="row steps">
        <div class="col-sm-12 col-md-4 step">
          <div class="header">
            <div class="number">
              1
            </div>
            <div class="description">
              <h3 translate>
                WORKOUTS_INSTRUCTIONS_STEP1_TITLE
              </h3>
            </div>
          </div>

          <p translate>
            WORKOUTS_INSTRUCTIONS_STEP1_DESCRIPTION
          </p>

          <p>
            <a class="btn btn-success" ui-sref="main.workouts.workout" translate>
              WORKOUTS_INSTRUCTIONS_STEP1_BUTTON
            </a>
          </p>
        </div>
        <div class="col-sm-12 col-md-4 step">
          <div class="header">
            <div class="number">
              2
            </div>
            <div class="description">
              <h3 translate>
                WORKOUTS_INSTRUCTIONS_STEP2_TITLE
              </h3>
            </div>
          </div>

          <p translate>
            WORKOUTS_INSTRUCTIONS_STEP2_DESCRIPTION
          </p>
        </div>
        <div class="col-sm-12 col-md-4 step">
          <div class="header">
            <div class="number">
              3
            </div>
            <div class="description">
              <h3 translate>
                WORKOUTS_INSTRUCTIONS_STEP3_TITLE
              </h3>
            </div>
          </div>

          <p translate>
            WORKOUTS_INSTRUCTIONS_STEP3_DESCRIPTION
          </p>

          <p>
            <a class="btn btn-success" ui-sref="main.trainees" translate>
              WORKOUTS_INSTRUCTIONS_STEP3_BUTTON
            </a>
          </p>
        </div>
      </div>
      <div class="row empty-state-legs">
      </div>
    </div>
  </div>
</div>