<div class="container-fluid trainee workouts">
  <div class="row training">
    <div class="my-workouts col-sm-3">

      <h3 class="jim-title">{{workoutsContext.title}}</h3>

      <trainee-thumb trainee="workoutsContext.trainee"
                     on-trainee-photo-changed="refreshUserDetails()"
                     fill-width="true"
                     not-clickable="true"></trainee-thumb>

      <div ng-if="workoutsContext.isPreparedWorkoutsEnabled" class="assign-workout">
        <button class="btn btn-success" ng-click="addPreparedWorkout()">
          Add prepared workout
        </button>
      </div>

      <workouts-list workouts="workoutsContext.trainingList"
                     selected-workout="workoutsContext.selectedTraining"
                     on-workout-selected="onWorkoutSelected(workout)"
                     on-workout-create="onWorkoutCreate()"></workouts-list>
    </div>

    <div class="main-panel col-sm-9">
      <div class="jim-box">
        <ui-view></ui-view>
      </div>
    </div>
  </div>
</div>