@import "definitions.scss";

div.page {
  margin: 30px 0;

  .main-panel .jim-box {
    $paddingLR: 0px;
    $paddingTB: 0px;
    @include jim-box($paddingLR, $paddingTB);
    .box-image {
      background-image: image_url("ic_directions_walk_24px.svg");
    }

    .section-title {
        font-size: 1.8em;
        font-weight: 500;
    }

    .property {
        font-size: 1.3em;

      .title {
        font-weight: bold;
      }
    }

    .training-rating {
      @include size(40px, 40px);
      background-size: contain;
    }

    .bored-on {
      background-image: image_url("SmileyON_Bored.png");
    }

    .happy-on
    {
      background-image: image_url("SmileyON_Happy.png");
    }

    .sweat-on
    {
      background-image: image_url("SmileyON_Sweat.png");
    }

    .bored-off {
      background-image: image_url("SmileyFaded_Bored.png");
    }

    .happy-off
    {
      background-image: image_url("SmileyFaded_Happy.png");
    }

    .sweat-off
    {
      background-image: image_url("SmileyFaded_Sweat.png");
    }

    .fc-event {
      background-color: transparent;
      border-color: transparent;
    }

    div.fc-content {
      @include size(40px, 40px);
      background-size: contain;
    }

    .calendar-overview {
      padding: 30px;
    }

    .training-overview {
      .row {
        margin: 10px 0;
      }
    }
  }



  div.selectedTraining {
    background-color: $jimColor;
  }
}
