<div ng-show="training" id="my-workout" class="selected-regime">
  <div class="row">
    <h1 class="jim-title col-sm-12">Customise workout</h1>
  </div>
  <div class="name row">
    <div class="col-sm-8">
      <input class="the-name-value pull-left" ng-model="training.name"/>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-lg btn-success pull-right" ng-click="editExercise()">
        Add exercise
      </button>
    </div>
  </div>

  <div class="exercises" ui-sortable="sortableOptions" ng-model="training.exercises">
    <div ng-repeat="exercise in training.exercises">
      <exercise-editor exercise="exercise"
                       training="training"
                       trainer="trainer"
                       on-exercise-remove="removeExercise(exercise)"
                       on-apply-to-all-series="applyToAllSeries(exercise)"></exercise-editor>
    </div>
  </div>

  <div class="workout-buttons">
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="col-sm-4">
        <div class="pull-right">
          <button class="delete btn" ng-click="onDeleteClicked(training)">Delete</button>
          <button class="save btn btn-success" ng-click="onSaveClicked(training)">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>