<div ng-show="training" id="my-workout" class="selected-regime workout-editor">
  <div spin-until="training" class="row">
    <h1 class="jim-title col-xs-12">Customise workout</h1>
  </div>
  <div class="name row">
    <div class="col-xs-12 col-sm-6">
      <input class="the-name-value pull-left" ng-model="training.name"/>
    </div>
    <div class="col-xs-6 col-sm-3">
      <label class="is-circular" for="is_circular">
        Is circular:
      </label>
      <input id="is_circular" class="is-circular" type="checkbox" ng-model="training.is_circular"/>
    </div>
    <div class="col-xs-6 col-sm-3">
      <button class="btn btn-lg btn-success pull-right add-exercise" ng-click="editExercise()">
        Add exercise
      </button>
    </div>
  </div>

  <div class="exercises" ui-sortable="sortableOptions" ng-model="training.exercises">
    <div ng-repeat="exercise in training.exercises" class="exercise-item">
      <exercise-editor exercise="exercise"
                       training="training"
                       trainer="trainer"
                       on-exercise-remove="removeExercise(exercise)"
                       on-apply-to-all-series="applyToAllSeries(exercise, selectedSeries)"></exercise-editor>
    </div>
  </div>

  <div class="save-delete-buttons">
    <div class="row">
      <div class="col-xs-12">
        <div class="pull-right">
          <button class="delete btn btn-danger" ng-click="onDeleteClicked(training)">Delete</button>
          <button class="save btn btn-primary" ng-click="onSaveClicked(training)">Save</button>
        </div>
      </div>
    </div>
  </div>

</div>