/* ...
*= require angular-ui-select/dist/select
*= require angularjs-toaster/toaster
*= require fullcalendar/dist/fullcalendar
*= require angular-ui-grid/ui-grid
*= require bootstrap/dist/css/bootstrap
*= require nvd3/nv.d3
*= require intro.js/introjs.css
*= require_tree .
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 115px;
}