/* ...
*= require angular-ui-select/dist/select
*= require angularjs-toaster/toaster
*= require fullcalendar/dist/fullcalendar
*= require angular-ui-grid/ui-grid
*= require results/results_v2
*= require_tree ./exerciseTypes/
*= require_tree ./admin/
*= require_tree ./exercises/
*= require_tree ./trainees/
*= require_tree ./photos/
*= require_tree ./workouts-new/
*/

@media (max-width: 768px) {
  div.top-jim-box {
    background-color: white;
  }

  div.top-jim-box div.jim-box {
    margin-top: 0;
    border: none;
    padding: 0 0;
  }
}

