/*
 *= require_self
 *= require_tree .
 */

body.main-layout {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f2f2f2;
}

body > div.skeleton {
    padding: 0;
    margin: 0;
}

.central-strip {
    width: 930px;
    margin: 0 auto 0 auto;
}

.shadowed-central-strip {
    @extend .central-strip;
    
    border-radius: 5px;
    border-bottom: 1px solid #b5b5b5;
    border-top: 1px solid white;
    border-right: 1px solid #b5b5b5;
    border-left: 1px solid white;
    margin-top: 15px;
    box-shadow: 0 0 3px 3px #dddddd;
}