/* ...
*= require_self
*= require angular-ui-select/dist/select
*= require angularjs-toaster/toaster
*= require fullcalendar/dist/fullcalendar
*= require angular-ui-grid/ui-grid
*= require_tree ./exerciseTypes/
*= require_tree ./admin/
*= require_tree ./exercises/
*= require_tree ./trainees/
*= require_tree ./photos/
*= require_tree ./workouts/
*= require_tree ./auth/
*= require_tree ./results/
*= require_tree ./frame/
*= require_tree ./welcome/
*= require layout
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700&subset=latin,latin-ext);

@font-face {
  font-family: 'fineness';
  src: url("/fonts/FinenessRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'fineness';
  src: url("/fonts/FinenessBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'fineness';
  src: url("/fonts/FinenessLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 768px) {
  div.top-jim-box {
    background-color: white;
  }

  div.top-jim-box div.jim-box {
    margin-top: 0;
    border: none;
    padding: 0 0;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 115px;
}