div#login {
    > div.inner-container {
        padding: 20px;
        
        > div.login-panel {
            width: 600px;
            margin: 0 auto;
        }
    }
}

div#register {
    > div.inner-container {
        padding: 20px;
        
        > div.register-panel {
            width: 600px;
            margin: 0 auto;
        }
    }
}