@import "definitions.scss";

$exercisesWidth: 141px;
$statisticsWidth: 199px;
$measurementsWidth: $pageWidth - $exercisesWidth - $statisticsWidth - 60px;
$avatarHeight: 42px;
$avatarWidth: 42px;
$statisticsFontSize: 75px;
$statisticsLabelColor: #e9af2e;
$statisticsLabelFontSize: 14px;





a:hover{ color: black }
a:visited{ color: black }



div.calendar{
    border-bottom: 1px solid #cecece;
}

#types{
  border-top: 1px solid #cecece;  
}

div.day{
    border-left: 1px solid #cecece;
    padding: 0px 5px 0px 5px;
    text-align: center;
}

div#workoutSets {
    text-align: center;
}
div#graphWindow{
    width:$measurementsWidth;
}

div#placeholder,{    
    width:600px;
    height:300px;
}

div.month{
            display: inline;
        }
        
button.arrow{    
            margin-left: 10px;
            margin-right: 10px;
}


div.day{
    display: inline;
}

#dashboard-show {
    margin: 20px 0px;
    width: 100%;
    
    > div {
        display: inline-block;
        border: 1px solid #cecece;
        vertical-align: top;
        
        
        ////////////////////////////////////////////////////////////////////////////////
        /// PEOPLE (left column)
        //
        &.people-exercises {
            width: $exercisesWidth;
            
            > .entry {
                @include text-shadow(0 1px 1px white);
                height: 50px;

                > :hover{
                background-color: #1f94d2;;
                }
                
                &.even {
                    background: {
                        color: #ececec;
                    }
                }
                
                &.selected {
                    background: {
                        color: $jimColor;
                    }
                }
                
                > .title {
                    @include inline-middle;
                    width: $exercisesWidth - 50px;
                    padding: 5px;
                    

                }
                
                > .icon {
                    @include inline-middle;
                    height: 50px;
                    width: 30px;
                }
            }
        }
        
        
        ////////////////////////////////////////////////////////////////////////////////
        /// STATISTICS and COMMENTS (middle column)
        //
        &.statistics {
            width: $statisticsWidth;
            margin-left: -1px;
            
            > .avatar-name {
                height: $avatarHeight;
                background: {
                    color: #ececec;
                }
                
                > div {
                    @include inline-middle;
                    
                    &.avatar {
                        height: $avatarHeight;
                        width: $avatarWidth;
                        background: {
                            color: #cecece;
                        }
                    }
                    
                    &.name {
                        @include bold;
                        @include text-shadow(0 1px 1px white);
                        $st_name_padding: 5px;
                        width: $statisticsWidth - $avatarWidth - $st_name_padding*2;
                        padding: $st_name_padding;
                        color: #555;
                    }
                }
            }
            
            > .numbers {
                @include center;
                
                > .activity-percentage {
                    @include inline;
                    margin: { top: 10px; }
                    
                    > .number {
                        @include inline-bottom;
                        @include sans-titles;
                        color: #555;
                        font: {
                            size: $statisticsFontSize;
                        }
                        line-height: $statisticsFontSize;
                        height: $statisticsFontSize;
                    }
                    
                    > .label {
                        @include inline-bottom;
                        @include sans-titles;
                        @include bold;
                        @include left;
                        padding-bottom: $statisticsFontSize * 0.18;
                        div {
                            font: {size: $statisticsLabelFontSize;}
                            line-height: $statisticsLabelFontSize;
                            height: $statisticsLabelFontSize + 1px;
                            color: $statisticsLabelColor;
                            
                            &.percent {
                                font: {size: 1.4em;}
                            }
                        }
                    }
                }
                
                > .separator {
                    margin-top: -10px;
                    > div {
                        @include inline;
                        border-bottom: 2px dashed $jimColor;
                        width: $statisticsWidth - 50px;
                    }
                }
            }
            
            > .comments {
                margin-top: 15px;
                border-top: 1px solid #cecece;
                
                > .comment {
                    
                    > .header {
                        > div {
                            @include inline-middle;
                            
                            &.icon {
                                @include size(48px, 31px);
                                margin: 10px;
                                background: {
                                    image: image-url("SPeechBubbles.png");
                                    repeat: no-repeat;
                                }
                            }
                            
                            .title {
                                font-size: 1.4em;
                            }
                            
                            .date {
                                font-size: 0.85em;
                                color: #1f94d2;
                            }
                        }
                    }
                    
                    > .separator {
                        border-bottom: 1px solid #cecece;
                        margin: 10px;
                    }
                    
                    > .emoticons {
                        @include center;
                    }
                    
                    > .message {
                        text-align: justify;
                        margin: 0px 10px 10px 10px;
                    }
                }
                
                > .responded-flag {
                    margin: 10px;
                }
            }
        }
        
        
        ////////////////////////////////////////////////////////////////////////////////
        /// MEASUREMENTS (right column)
        //
        &.measurements {
            width: $measurementsWidth;
            margin-left: -1px;
            
            
        }
        

    }
    
}