@import "definitions.scss";

$exercisesWidth: 141px;
$statisticsWidth: 199px;
$measurementsWidth: $pageWidth - $exercisesWidth - $statisticsWidth - 15px;
$avatarHeight: 42px;
$avatarWidth: 42px;
$statisticsFontSize: 75px;
$statisticsLabelColor: #e9af2e;
$statisticsLabelFontSize: 14px;
$graphHeight : 300px;
$graphWidth : 500px;

.text{
    display:inline;

}

.series-checkbox{
    vertical-align:top;
}




.row-box{
    > .text{
        
    }
    
    > .box{
        width:15px;
        height:20px;
        background-color: #cecece;
        margin-bottom: 3px;
        display: inline-table;
        vertical-align: top;
        margin-left: 10px;
    }
}

.exerciseinfotab{
    display:inline-block;
    vertical-align:top;    
    margin-left: 30px;
    @include sans;
    font-size: 15px;
    
    > .title{
        margin-bottom: 5px;
    }
}

.types{
    height: 93px;
    > .typestable{
        width: $graphWidth;
        border-top: 1px solid #cecece;
        border-right: 1px solid #cecece;
        font-size: 0px;
        height: 90px;
        display: inline-block;
        margin-left: -1px;
        
        > .type{
            height: 30px;
            font-size: 12px;
            display:inline-table;
            width: $graphWidth / 4 - 1px;
            border: 1px solid #cecece;
            border-top: 0px;
            margin-right: -1px;
            text-align:center;
            
            &:hover{
                background-color: $hoverColor;
            }
            
            &.selected{
                background-color: $jimColor;
                
            }
        }
        
        
    }
    
    > .weight-picture-box{
        display: inline;
        
        > div.seen{
            float: right;
            margin-top: -20px;
            width: 100px;
            > div.abc{    
                margin-top: 10px;
                position: relative;
                @include size(63px,65px);
                background: {
                    image: image-url("Weight.png");        
                    repeat: no-repeat;
                }
                > div.text{
                    @include sans;
                    position: absolute;
                    font-size: 14px;
                    top: 20px;
                    left: 17px;
                }
            }
        }
    }
}


div.calendar-new{
    $monthWidth : 150px;
    height: 50px;
    font-size: 0px;
    
    > .days{
        display:inline-table;
        width: $measurementsWidth - $monthWidth;
        
        > .day{
            display:inline-table;
            padding: 2px 0px 2px 3px;
            text-align: center;
            width: 35px;
            font-size: 12px;
            
            border-left: 1px solid #cecece;
            border-bottom: 1px solid #cecece;
            position: relative;
            
            &:before,&:after{
                content: "";
                position: absolute;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                top: 100%;
                left: 50%;
                margin-left: -10px;
            }
            
            &.selected{
                &:before{
                    border-top: 5px solid $jimColor;
                    border-top: 5px solid rgba(0, 0, 0, 0.5);
                    margin-top: 0px;
                }
                &:after{
                    border-top: 5px solid $jimColor;
                    margin-top: 0px;
                    z-index: 1;
                }
                
                background-color: $jimColor;
            }
            
            &:hover{                        
                background-color: $hoverColor;
            }
            
            &:last-child{
                border-right: 1px solid #cecece;
            }
            
        }
    }
    > .month-tab{
        float: left;
        display: inline-block;
        font-size: 12px;
        
        > .month
        {
            width: 60px;
            display:inline-block;
        }     
        > .arrow{
            display:inline-table;
            margin-left: 15px;
            margin-right:15px;

            > .arrow-right {
                width: 0; 
                height: 0; 
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;	
                border-left: 5px solid grey;
            }
            
            > .arrow-left {
                width: 0; 
                height: 0; 
                border-top: 5px solid transparent;
                border-bottom: 5px solid transparent;
                
                border-right: 5px solid grey;
            }
        }        
    }
    
}


div.emoticons{
    > div {
        width: 36px;
        height: 33px;
        display: inline-block;
        &.one{
            @include emoticon($sadOff,$sadOn);
        }
        &.two{
            @include emoticon($sweatOff,$sweatOn);
        }
        &.three{
            @include emoticon($boredOff,$boredOn);
        }
        &.four{
            @include emoticon($happyOff,$happyOn);
        }
    }    
}

div.measurements{
    width: $measurementsWidth;
}

label {
    display: inline;
}


div#graphWindow{
    height: $graphHeight;
    
    > div {
        > div.exerciseinfo{
            > div#workoutSets {
                text-align: center;
                float: left;
                margin-left: 250px;
            }
        }
    }
}

#stack{
    position: absolute;
    margin-top: 120px;
    margin-left: 10px;
}

.horizontalstack {
    @include center;
    height:100px; 
    width:150px; 
    margin-left:5px; 
    display: inline-block; /*Here you can also used display-inline:block instead of float:left*/
    
    > .number{
        @include sans-titles;
        vertical-align: bottom;
        
        display: inline-block;
        color: #555;
        font: {
            size: $statisticsFontSize;
        }
    }
    
    > .jimlabel {
        @include inline-bottom;
        @include sans-titles;
        @include bold;
        @include left;
        vertical-align: bottom;
        display: inline-block;
        padding-bottom: $statisticsFontSize * 0.18;
        div {
            font: {size: $statisticsLabelFontSize;}
            line-height: $statisticsLabelFontSize;
            height: $statisticsLabelFontSize + 1px;
            color: $statisticsLabelColor;
            
            &.percent {
                font: {size: 1.4em;}
            }
        }
    }
}



.verticalline{
    position: absolute;
    margin-top: -35px;
    display: inline-block;
    border:{
        
        color: $jimColor;
        style: dashed;
        width: 1px;
    }
    height: 100px;
}

.exercisetextinfo{
    width: 500px;
    height: $graphHeight;
    display:inline-block;
}


.pagination{
    margin: 0px;
}


a:hover{ color: black }
a:visited{ color: black }





#types{
    border-top: 1px solid #cecece;  
    padding-left: 50px;
}





div#placeholder,{    
    width: $graphWidth;
    height: $graphHeight;
    display:inline-block;
}

#dashboard-show {
    margin: 20px 0px;
    width: 100%;
    
    > div {
        display: inline-block;
        border: 1px solid #cecece;
        vertical-align: top;
        
        
        ////////////////////////////////////////////////////////////////////////////////
        /// PEOPLE (left column)
        //
        &.people-exercises {
            width: $exercisesWidth;
            margin-right: -3px;
            
            > .entry {
                @include text-shadow(0 1px 1px white);
                height: 50px;
                
                &:hover{                                
                    background-color: #1f94d2;
                }
                
                &.even {
                    background: {
                        color: #ececec;
                    }
                    
                    &:hover{                                
                        background-color: #1f94d2;
                    }
                    
                }
                
                &.selected {
                    background: {
                        color: $jimColor;
                    }
                }
                
                > .title {
                    @include inline-middle;
                    width: $exercisesWidth - 50px;
                    padding: 5px;
                    
                    
                }
                
                > .icon {
                    @include inline-middle;
                    height: 50px;
                    width: 30px;
                }
            }
        }
        
        
        ////////////////////////////////////////////////////////////////////////////////
        /// STATISTICS and COMMENTS (middle column)
        //
        &.statistics {
            width: $statisticsWidth;
            margin-left: -1px;
            
            > div{
                > .avatar-name {
                    height: $avatarHeight;
                    background: {
                        color: #ececec;
                    }
                    
                    > div {
                        @include inline-middle;
                        
                        &.avatar {
                            height: $avatarHeight;
                            width: $avatarWidth;
                            background: {
                                color: #cecece;
                            }
                        }
                        
                        &.name {
                            @include bold;
                            @include text-shadow(0 1px 1px white);
                            $st_name_padding: 5px;
                            width: $statisticsWidth - $avatarWidth - $st_name_padding*2;
                            padding: $st_name_padding;
                            color: #555;
                        }
                    }
                }
                
                > .numbers {
                    @include center;
                    
                    > .activity-percentage {
                        @include inline;
                        margin: { top: 10px; }
                        
                        > .number {
                            @include inline-bottom;
                            @include sans-titles;
                            color: #555;
                            font: {
                                size: $statisticsFontSize;
                            }
                            line-height: $statisticsFontSize;
                            height: $statisticsFontSize;
                        }
                        
                        > .jimlabel {
                            @include inline-bottom;
                            @include sans-titles;
                            @include bold;
                            @include left;
                            padding-bottom: $statisticsFontSize * 0.18;
                            div {
                                font: {size: $statisticsLabelFontSize;}
                                line-height: $statisticsLabelFontSize;
                                height: $statisticsLabelFontSize + 1px;
                                color: $statisticsLabelColor;
                                
                                &.percent {
                                    font: {size: 1.4em;}
                                }
                            }
                        }
                    }
                }
                
                > .separator {
                    margin-top: -10px;
                    > div {
                        @include inline;
                        border-bottom: 2px dashed $jimColor;
                        width: $statisticsWidth - 50px;
                    }
                }
            }
            
            > .comments {
                margin-top: 15px;
                border-top: 1px solid #cecece;
                
                > .comment {
                    
                    > .header {
                        > div {
                            @include inline-middle;
                            
                            &.icon {
                                @include size(48px, 31px);
                                margin: 10px;
                                background: {
                                    image: image-url("SPeechBubbles.png");
                                    repeat: no-repeat;
                                }
                            }
                            
                            .title {
                                font-size: 1.4em;
                            }
                            
                            .date {
                                font-size: 0.85em;
                                color: #1f94d2;
                            }
                        }
                    }
                    
                    > .separator {
                        border-bottom: 1px solid #cecece;
                        margin: 10px;
                    }
                    
                    > .emoticons {
                        @include center;
                    }
                    
                    > .message {
                        text-align: center;;
                        margin: 0px 10px 10px 10px;
                        color: $hoverColor;
                        font-weight: bold;
                        
                        &.answered{
                            color: black;
                            font-weight: normal;
                        }
                    }
                    
                    > .responded-flag {
                        margin: 10px;
                        > .no-answer{
                            > .respond-box{
                                float:right;
                                
                                > .reply-icon{
                                    background: image-url("Reply_Icon.png");
                                    width: 23px;
                                    height: 12px;
                                    display: inline-block;
                                    vertical-align: middle;
                                    margin-right: -10px;
                                }
                            }
                            
                            > .reply-box{                            
                                >form {
                                    > .comment-input{
                                        width: 165px;
                                        margin-botom: 5px;
                                    }
                                    
                                    > .reply-buttons{
                                        text-align:center;
                                        margin-bottom: 5px;
                                        >button{
                                            width: 70px;   
                                            &:first-child{
                                                margin-right: 20px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        
                        > .answer{
                            > div, button{
                                display: inline-block;
                            }
                            
                            > .text{
                                vertical-align: top;
                            }
                            
                            > button{
                                padding-left: 0px;
                                padding-right: 0px;
                                margin-right: -10px;
                                margin-top: -3px;
                            }
                            
                            > .box{
                                width:15px;
                                height:20px;
                                background-color: #cecece;
                                margin-bottom: 3px;
                                display: inline-table;
                                vertical-align: top;
                                margin-left: -5px;
                            }
                        }
                    }
                    
                }
            }
        }
        
        
        ////////////////////////////////////////////////////////////////////////////////
        /// MEASUREMENTS (right column)
        //
        &.measurements {
            width: $measurementsWidth;
            margin-left: -4px;
            
            
        }
        
        
    }
    
}