$jimColor: #FBCA15;
$headerHeight: 60px;
$errorShadowColor: lighten(#ff6d00, 7%);
$pageWidth: 940px;



/** FONTS */
@mixin sans {
    font: {
        family: 'Open Sans', sans-serif;
        weight: 400;
    }
}

@mixin serif {
    font: {
        family: 'Droid Serif', serif;
        weight: 400;
    }
}

@mixin bold {
    font-weight: bold;
}

@mixin italic {
    font-style: italic;
}



/** TEXT */
@mixin ellipsise {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin center {
    text-align: center;
}

@mixin right {
    text-align: right;
}



/** LAYOUT */
@mixin middle {
    vertical-align: middle;
}



/** BORDERS */
@mixin rounded($radius: 5px) {
    border-radius: $radius;
}



/** SHADOWS */
@mixin shadow($shadows...) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

@mixin text-shadow($shadow: 0 1px 1px rgba(0, 0, 0, 0.5)) {
    text-shadow: $shadow;
}