$jimColor: #FBC912;
$headerHeight: 57px;
$errorShadowColor: lighten(#ff6d00, 7%);
$pageWidth: 990px;



/** FONTS */
@mixin sans {
    font: {
        family: 'Open Sans', sans-serif;
        weight: 400;
    }
}

@mixin serif {
    font: {
        family: 'Droid Serif', serif;
        weight: 400;
    }
}

@mixin sans-titles {
    font: {
        family: 'fineness';
        weight: 400;
    }
}

@mixin light {
    font-weight: 300;
}

@mixin bold {
    font-weight: 700;
}

@mixin italic {
    font-style: italic;
}



/** TEXT */
@mixin ellipsise {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin center {
    text-align: center;
}

@mixin right {
    text-align: right;
}

@mixin left {
    text-align: left;
}



/** LAYOUT */
@mixin middle {
    vertical-align: middle;
}

@mixin inline {
    display: inline-block;
}

@mixin inline-middle {
    display: inline-block;
    vertical-align: middle;
}

@mixin inline-top {
    display: inline-block;
    vertical-align: top;
}

@mixin inline-bottom {
    display: inline-block;
    vertical-align: bottom;
}

@mixin zero-spacing {
    border-spacing: 0px;
    padding: 0px;
    margin: 0px;
}



/** BORDERS */
@mixin rounded($radius: 5px) {
    border-radius: $radius;
}



/** SHADOWS */
@mixin shadow($shadows...) {
    -moz-box-shadow: $shadows;
    -webkit-box-shadow: $shadows;
    box-shadow: $shadows;
}

@mixin text-shadow($shadow: 0 1px 1px rgba(0, 0, 0, 0.5)) {
    text-shadow: $shadow;
}



/** BRANDING */
@mixin logo {
    background: {
        image: image-url("Logo.png");
        repeat: no-repeat;
        position: center;
    }
}