@import "definitions.scss";

$logoPartWidth: 164px;
$loginPartWidth: 250px;

////////////////////////////////////////////////////////////////////////////////
/// HEADER (with buttons)
//

.header-menu {
  font-weight: bold;
  height: $headerHeight;

  // JIM logo
  div.logo-part {
    width: $logoPartWidth;
    div.logo {
      @include middle;
      @include logo;
      height: $headerHeight;
    }
  }

  // Bootstrap navbar
  $bgDefault: $menuBackground;
  $bgHighlight: $menuHighlight;
  $colDefault: $menuText;
  $colHighlight: $menuHighlightText;
  .navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;

    // remove the one pixel empty space above mainav
    margin-top: -1px;
    .navbar-brand {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight;
      }
    }
    .navbar-text {
      color: $colDefault;
    }
    .navbar-nav {
      > li {
        > a {
          color: $colDefault;
          &:hover, &:focus {
            background-color: $bgHighlight;
            color: $colHighlight;
          }
        }
      }
      > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-image: image-url("Gradient_ClickedState_1px.png");
        }
      }
      > .open {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
    }
    .navbar-toggle {
      border-color: $bgHighlight;
      &:hover, &:focus {
        background-color: $bgHighlight;
      }
      .icon-bar {
        background-color: $colDefault;
      }
    }
    .navbar-collapse,
    .navbar-form {
      border-color: $colDefault;
    }
    .navbar-link {
      color: $colDefault;
      &:hover {
        color: $colHighlight;
      }
    }
  }
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu {
      > li > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHighlight;
        }
      }
      > .active {
        > a, > a:hover, > a:focus, {
          color: $colHighlight;
          background-color: $bgHighlight;
        }
      }
    }
  }
  // END Bootstrap navbar
}

////////////////////////////////////////////////////////////////////////////////
/// FOOTER
//

// Sticky footer
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 115px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}

// END STICKY FOOTER

// Footer content styling
.footer {
  background-color: $jimColor;

  .container {
    padding: {
      top: 20px;
      bottom: 20px;
    }

    .content {
      display: inline-block;
      vertical-align: middle;
      width: 100%;

      .left {
        float: left;

        .links a {
          color: black;
          margin: 0px 5px;

          &.first {
            margin-left: 0px;
          }

          &.mobile-app {
            font-weight: bold;
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }

        .copyright-notice {
          padding-top: 8px;
          font-size: 0.8em;
          color: black;
        }
      }

      .right {
        float: right;

        .social {
          font-size: 0.9em;
          $ftrTwitterIconSize: 25px;
          margin-top: 7px;

          div {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
          }

          .twitter {
            @include square($ftrTwitterIconSize);
            cursor: pointer;
            @include central-image('login/Twitter_Off.png');
            &:hover {
              @include central-image('login/Twitter_ON.png');
            }
          }

          .tumblr {
            margin-left: 5px;
            @include square($ftrTwitterIconSize);
            cursor: pointer;
            @include central-image('login/Tumblr_Off.png');
            &:hover {
              @include central-image('login/Tumblr_ON.png');
            }
          }
        }
      }
    }
  }
}