@import "definitions.scss";

$logoPartWidth: 164px;
$loginPartWidth: 200px;

////////////////////////////////////////////////////////////////////////////////
/// HEADER (with buttons)
//
.header.outer-container {
    height: $headerHeight;
    background-color: $jimColor;
    
    > .container {
        height: $headerHeight;
        
        > table.panel {
            @include text-shadow(0 1px 0px darken($jimColor, 15%));
            @include zero-spacing;
            font-size: 1.3em;
            color: white;
            width: 100%;
            
            a {
                color: white;
            }
            
            td {
                padding: 0px;
            }
            
            td.logo-part {
                width: $logoPartWidth;
                div.logo {
                    @include middle;
                    @include logo;
                    height: $headerHeight;
                }
            }
            
            td.main-part {
                width: available;
                
                table.buttons {
                    @include zero-spacing;
                    height: $headerHeight;
                    $headMainBtnWidth: 72px;
                    
                    ////////////////////////////////////////////////////////////////////////////////
                    /// TOP NAVIGATION BUTTONS
                    //
                    td.main-button {
                        @include middle;
                        @include center;
                        border-left: 2px solid #fee170;
                        cursor: pointer;
                        width: $headMainBtnWidth;
                        
                        &.active a {
                            background-image: image-url("Gradient_ClickedState_1px.png");
                        }
                        
                        &.last {
                            border-right: 2px solid #fee170;
                        }
                        
                        &:hover {
                            background: {
                                color: #ffbf00;
                            }
                        }
                        
                        a {
                            display: block;
                            width: $headMainBtnWidth;
                            height: $headerHeight;
                            background: {
                                repeat: repeat-x;
                            }
                            
                            &:active {
                                background: {
                                    image: image-url("Gradient_ClickedState_1px.png");
                                }
                            }
                            
                            > div {
                                @include fill;
                                background: {
                                    position: center;
                                    repeat: no-repeat;
                                }
                            }
                            
                            &.dashboard div {background-image: image-url("Ikona_Dashboard.png");}
                            &.people div {background-image: image-url("Ikona_People.png");}
                            &.workout div {background-image: image-url("Ikona_Workout.png");}
                            &.calendar div {background-image: image-url("Ikona_Cal.png");}
                            &.messages div {background-image: image-url("Ikona_Msgs.png");}
                        }
                    }
                }
            }
            
            td.login-part {
                width: $loginPartWidth;
                > div {
                    font: {
                        weight: bold;
                    }
                }
            }
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
/// FOOTER
//
.footer.outer-container {
    background-color: $jimColor;
    height: $footerHeight;
    
    .container {
        line-height: $footerHeight;
        .content {
            display: inline-block;
            vertical-align: middle;
            width: 100%;
            
            > div {line-height: normal;}
            
            .left {
                float: left;
                
                .links a {
                    color: black;
                    margin: 0px 5px;
                    
                    &.first {margin-left: 0px;}
                    
                    &.mobile-app {
                        font-weight: bold;
                        text-decoration: underline;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
                
                .copyright-notice {
                    padding-top: 8px;
                    font-size: 0.8em;
                    color: black;
                }
            }
            
            .right {
                float: right;
                
                .social {
                    font-size: 0.9em;
                    $ftrTwitterIconSize: 25px;
                    margin-top: 7px;
                    
                    div {display: inline-block; vertical-align: middle;margin-left: 10px;}
                    
                    .twitter {
                        @include square($ftrTwitterIconSize);
                        cursor: pointer;
                        @include central-image('login/Twitter_Off.png');
                        &:hover {@include central-image('login/Twitter_ON.png');}
                    }
                    
                    .tumblr {
                        margin-left: 5px;
                        @include square($ftrTwitterIconSize);
                        cursor: pointer;
                        @include central-image('login/Tumblr_Off.png');
                        &:hover {@include central-image('login/Tumblr_ON.png');}
                    }
                }
            }
            
            
        }
        
    }
}

////////////////////////////////////////////////////////////////////////////////
/// HEADER (no buttons)
//
.header.no-buttons {
    $topBarHeight: 13px;
    
    .top-bar {
        @include size(100%, $topBarHeight);
        background-color: $jimColor;
    }
    
    a {
        .logo-hanging {
            display: inline-block;
            margin-left: $logo-margin-left;
            @include central-image('frame/logo-hanging.png');
            @include size(91px, 44px);
        }
    }
}