@import "definitions.scss";

$logoPartWidth: 164px;
$loginPartWidth: 200px;

div.header.outer-container {
    height: $headerHeight;
    width: 100%;
    background-color: $jimColor;
    
    > div.central-strip {
        height: $headerHeight;
        
        > table.panel {
            @include text-shadow(0 1px 0px darken($jimColor, 15%));
            @include zero-spacing;
            font-size: 1.3em;
            color: white;
            width: $pageWidth;
            
            a {
                color: white;
            }
            
            td {
                padding: 0px;
            }
            
            td.logo-part {
                width: $logoPartWidth;
                div.logo {
                    @include middle;
                    @include logo;
                    height: $headerHeight;
                }
            }
            
            td.main-part {
                width: available;
                
                table.buttons {
                    @include zero-spacing;
                    height: $headerHeight;
                    
                    // TOP HEADER BUTTONS
                    td.main-button {
                        @include middle;
                        @include center;
                        border-left: 2px solid #fee170;
                        cursor: pointer;
                        padding: 10px;
                        width: 72px;
                    }
                    
                    td.main-button.last {
                        border-right: 2px solid #fee170;
                    }
                    
                    td.main-button:hover {
                        background: {
                            color: #ffbf00;
                        }
                    }
                    
                    td.main-button:active, td.main-button.pressed {
                        background: {
                            image: image-url("Gradient_ClickedState_1px.png");
                        }
                    }
                }
            }
            
            td.login-part {
                width: $loginPartWidth;
                > div {
                }
            }
        }
    }
}

div.footer.outer-container {
    background-color: lighten($jimColor, 43%);
    
    > div.inner-container {
        padding: 25px 0px;
        
        > div.central-strip > div.content {
            > div.copyright-notice {
                @include text-shadow(1px 1px white);
                display: inline-block;
                margin: 0px 15px;
                color: #777;
                font: {
                    size: 0.9em;
                }
            }
        }
    }
}