@import "definitions.scss";

$logoPartWidth: 164px;
$loginPartWidth: 200px;

div.header.outer-container {
    height: $headerHeight;
    width: 100%;
    background-color: $jimColor;
    
    > div.central-strip {
        height: $headerHeight;
        
        > table.panel {
            width: $pageWidth;
            padding: 0px;
            border-spacing: 0px;
            color: white;
            
            a {
                color: #757676;
            }
            
            td {
                padding: 0px;
            }
            
            td.logo-part {
                width: $logoPartWidth;
                div.logo {
                    @include middle;
                    @include logo;
                    height: $headerHeight;
                }
            }
            
            td.main-part {
                width: available;
            }
            
            td.login-part {
                width: $loginPartWidth;
                > div {
                }
            }
        }
    }
}

div.footer.outer-container {
    background-color: lighten($jimColor, 43%);
    
    > div.inner-container {
        padding: 25px 0px;
        
        > div.central-strip > div.content {
            > div.copyright-notice {
                @include text-shadow(1px 1px white);
                display: inline-block;
                margin: 0px 15px;
                color: #777;
                font: {
                    size: 0.9em;
                }
            }
        }
    }
}