@import "definitions.scss";

.registration-page {
    $fieldsWidthWider: 300px;
    $fieldsWidth: 250px;
    $fieldsWidthSmaller: 200px;
    
    .the-form {
        margin-bottom: 25px;
        
        h2 {
            font-weight: 400;
            margin: 25px 0px;
        }
        
        .text-fields {
            margin-bottom: 5px;
            
            input {
                @include flat-text-input;
                border: 1px solid #ddd;
                width: $fieldsWidth;
                @media (min-width: 768px) and (max-width: 979px) {
                    width: $fieldsWidthSmaller;
                }
                @media (min-width: 1200px) {
                    width: $fieldsWidthWider;
                }
            }
            
        }
        
        .remember-me {
            margin-bottom: 10px;
            
            input#user_remember_me {
                display: inline-block;
                vertical-align: middle;
                margin: 0px;
            }
            
            label {
                font-size: $bodyFontSize;
                margin: 0px 0px 0px 5px;
                display: inline-block;
                vertical-align: middle;
                color: $lightBlue;
            }
        }
        
        .submit-button {
            @mixin btn-login-adjusted-width($theWidth) {
                width:$theWidth + 2*6px + 2px;
            }
            input {
                @include flat-btn;
                padding: 6px;
                @include btn-login-adjusted-width($fieldsWidth);
                @media (min-width: 768px) and (max-width: 979px) {
                    @include btn-login-adjusted-width($fieldsWidthSmaller);
                }
                @media (min-width: 1200px) {
                    @include btn-login-adjusted-width($fieldsWidthWider);
                }
                background-color: $lightBlue;
                color: white;
                
                &:hover {
                    background-color: darken($lightBlue, 15%);
                }
                
                &:active {
                    background-color: lighten($lightBlue, 15%);
                }
            }
        }
        
        a {
            color: $lightBlue;
        }
    }
    
    .why-register {
        background: {
            image: image-url('login/why-register.png');
            position: 0px center;
            repeat: no-repeat;
        }
        min-width: 432px;
        height: 380px;
        margin-bottom: 25px;
    }
}