@import "definitions.scss";

////////////////////////////////////////////////////////////////////////////////
/// WORKOUT PAGE
//
.training.workouts {
    line-height: normal;
    
    /////////////////////////
    /// LEFT NAVIGATION MENU
    //
    .my-workouts {
        @media (min-width: 768px) {
            h3.jim-title {margin: 30px 0px 10px 10px;}
        }
        
        @media (max-width: 767px) {
            h3.jim-title {margin: 10px 0px 10px 10px;}
        }
        
        $workoutItemHeight: 44px;
        
        .workout-list {
            > li {
                > a {@include zero-spacing; @include no-rounding;background-color: white;color: black; height: $workoutItemHeight; line-height: $workoutItemHeight; border-color: $borderColor;}
                > a:hover {background-color: $hoverColor; color: white;}
                &.highlighted > a {background-color: $lightBlue; color: white;}
                &.highlighted > a:hover {background-color: $hoverColor;}
                &.highlighted > a:hover > .content .right {background-color: lighten($jimColor, 15%);}
                &.highlighted > a > .content .right {width: 20%; height: $workoutItemHeight; float: right; background-color: $jimColor;max-width: 30px; display: block;}
                &.highlighted > a > .content .left {width: 80%;}
                > a > .content {
                    padding-left: 5px;
                    height: $workoutItemHeight;
                    .left {width: 100%; display: inline-block; vertical-align: middle; line-height: normal; margin-top: -5px;}
                    .right {display: none;}
                    .right i {margin-left: 7px;}
                }
            }
        }
    }
    
    /////////////////////////
    /// MAIN PANEL
    //
    .main-panel .jim-box {
        margin: 25px 0px;
        $paddingLR: 25px;
        $paddingTB: 15px;
        
        
        .header {
            padding: $paddingTB $paddingLR;
            .jim-title {margin: 0;}
            .jim-sub-title {margin: 0; line-height: 1.2em;}
        }
        
        .separator{
            margin: 0px 15px;
            border-bottom: 1px solid $borderColor;
        }
        
        .instructions {
            padding: 10px ($paddingLR + 10px) 25px;
            .span4 {margin-top: 15px;}
            .marginalium {float: left;font-size: 3em;margin-top: -20px; margin-right: 5px; height: 45px;}
            .contentium {@include light; font-size: 1.6em;}
        }
        
        $regimeDim: 75px;
        $borderWid: 3px;
        $regimeDimWithBorder: $regimeDim + 2*$borderWid;
        
        .regimes {
            padding: 0px $paddingLR $paddingTB $paddingLR;
            
            .regime {
                cursor: pointer; width: $regimeDimWithBorder;margin-right: 5px;margin-top: 10px;display: inline-block; vertical-align: top;
                
                .icon {@include square($regimeDim);padding: $borderWid;}
                .icon i.icon-ok {display: none;}
                &:hover .icon {@include square($regimeDim);padding: 0;border: 3px solid $jimColor;}
                .icon .image {background-color: #eee;@include square($regimeDim);}
                
                .name {font-size: 0.8em; text-align: center; margin-top: $borderWid;}
                
                &.active .icon .tick-icon {position: absolute; background-color: $jimColor; margin: -3px 0 0 -3px; padding: 3px; @include square(14px);}
                &.active .icon i.icon-ok {display: inline-block;margin: 0px;}
            }
        }
        
        .selected-regime {
            padding: $paddingTB $paddingLR;
            
            > .name {
                .icon {display: inline-block; vertical-align: middle; padding: 3px; @include square(14px); background-color: $jimColor; margin-left: 10px;}
                .icon .icon-ok {margin: 0;}
            }
            
            .exercises {
                margin: 15px 0;
                
                .exercise {
                    border: 1px solid $borderColor;
                    background-color: $bodyBackgroundColor;
                    margin-bottom: 5px;
                    
                    button {@include flat-btn;padding-right: 4px;float: right;}
                    button:hover {background-color: $hoverColor; color: white;}
                    
                    .details {
                        .name .exercise-label {font-weight: normal; text-shadow: 1px 1px white; font-size: 20px; @include inline; @include middle; margin-right: 5px;}
                        .name {padding-top: 5px; padding-left: 5px;}
                        .name a.btn {@include flat-btn;}
                        .name a.active {background-color: #eee;}
                        .name span.the-name-value {@include light; font-size: 20px; text-shadow: 1px 1px white; margin-right: 5px;}
                        
                        .exercise-top-btns {padding: 5px;}
                        .exercise-top-btns .btn {@include no-rounding;margin-top: 2px;}
                        .exercise-top-btns .btn i {margin-left: 5px;}
                        .exercise-top-btns .delete-btn {margin-right: 10px;}
                        .exercise-top-btns .add-btn {background-color: white;}
                        .exercise-top-btns .add-btn:hover {background-color: $hoverColor;}
                    }
                    
                    .series-list {
                        padding: 5px 5px 0px 5px;
                        
                        .series {
                            background-color: white; margin-bottom: 5px; @include rounded(3px); padding: 5px;
                            
                            .icon {font-size: 1.5em; text-align: center; background-color: #f6f6f6; @include rounded(3px);}
                            
                            .value {font-size: 2em;}
                            
                            .row-fluid > div {display: inline-block; vertical-align: middle; float: none;}
                            .row-fluid > div.data-field:hover {@include rounded(3px); background-color: #f6f6f6;}
                            
                            table.content {@include zero-spacing; width: 100%}
                            
                            table.content td > div {padding: 5px;}
                            table.content .text > div {margin-left: 10px; display: inline-block;}
                            
                            .plus-minus-btns {
                                text-align: right;
                                
                                > div {display: inline-block;}
                                
                                .btn {display: block; padding: 2px 3px 1px 4px; float: none;}
                                .btn.plus-btn {background-color: $jimColor; margin-bottom: 2px;}
                                .btn.plus-btn:hover {background-color: darken($jimColor, 15%);}
                                .btn.minus-btn {background-color: $jimBlue;}
                                .btn.minus-btn:hover {background-color: darken($jimBlue, 15%);}
                                .btn i {margin: 0;}
                            }
                            
                            .remove-btn .btn {display: inline-block; padding: 3px 5px; margin-top: 4px;}
                        }
                        
                    }
                }
            }
            
            .workout-buttons {
                .row-fluid > div {text-align: right;}
                
                .btn {@include flat-btn; @include no-rounding;}
                .btn.save {background-color: $lightBlue; margin-left: 10px;}
                .btn.save:hover {background-color: $hoverColor;}
            }
        }
    }
}