@import "definitions.scss";

$leftPanelWidth : 200px;
$borderColor : #cecece; 


@mixin slider($height){
  > .slider{
      font-size: 0px;
      height: $height;
      margin-top: 0px;
      width: $height/2;
      vertical-align: top;


       & div{
          display: block;
          width:$height / 2;

          > i{
            margin-top: 5px;
            margin-left: 5px;
          }

          &:hover{
              background: $jimColor;
          }

       }

       > .up{
          height: $height / 2;
          border-bottom: 1px solid $borderColor;
       }

       > .down{
          height: $height / 2- 1;
       }
    }
}



div.wrapper{
    padding-top: 30px;
    font-size: 0px;
    
    div{
        line-height: normal;
    }
    
    .title{
        font-weight: bold;;
        font-size: 35px;
    }
    .big{
        font-size: 30px;
    }
    
    .underline{
        text-decoration: underline;
        display: inline-block;
    }
    
    > div.workouts{
        display: inline-block;
        width: $leftPanelWidth;
        margin-top: 15px;
        font-size: 12px;
        
        > div{
            float: right;
            width: 140px;
        }
        
        > .title{
            font-size: 20px;
            margin-bottom: 20px;
        }
        
        > .box{
            border: 1px solid $borderColor;
            border-bottom: 0px;
            > .text{
                margin: 10px 10px 10px 10px;
            }
        }
        
        > .select-box{
            border: 1px solid $borderColor;
            border-top: 0px;
            height: 60px;
            
            background-color: $jimBlue;
            color: white;
            
            > .text{
                font-size: 14px;
                display: inline-block;
                margin-left: 10px;
                margin-right: 10px;
                
                
                .underline{
                    display: inline-block;
                    text-decoration: underline;
                }
            }
            
            > .plus{
                background-color: $jimColor;
                display: inline-block;
                float: right;
                width: 30px;
                height: 60px;
                
                > i{
                    margin-left: 9px;
                    margin-top: 24px;
                }
                
            }
        }
        
        
    }
    > div.workout{
        margin-left: -1px;
        padding: 10px 20px 20px 20px;
        font-size: 12px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid $borderColor;
        min-height: 500px;
        min-width: 700px;
        width: 700px;
        
        > .seperator{
            height: 100%;
            margin-top: 15px;
            margin-bottom: 5px;
            border-bottom: 1px solid $borderColor;
        }
        
        > .regimes{
            
            margin-top: 20px;
            
            > .regime{
                display: inline-block;
                width: 60px;
                
                margin-left: 10px;
                &:first-child{
                    margin-left: 0px;
                }
                
                > .icon{
                    background: $jimColor;
                    height: 60px;
                }
                
                > .name{
                    text-align: center;
                }
            }
        }
        
        > .regime-info{
                 
            margin-top: 15px;
            
            > .name{
                padding-left: 20px;
                font-size: 14px;
                
                
                > .icon{
                    margin-left: 10px;
                    witdh: 15px;
                    height: 15px;
                    background: $jimColor;
                    display: inline-block;
                    
                    > i{
                    }
                }
            }

            > .workout-details{
                $height : 50px;
                font-size: 0px;
                $fontSize : 14px;

                > .row-border{
                    font-size: 0px;
                    border-top: 1px solid $borderColor;
                    width: 683px;
                    height:1px;
                }

                > .exercise-row{       
                    owerflow: visible;
                    height: $height;
                    margin-top: -1px;

                    & div{
                        display: inline-block;
                        background: silver;
                    }

                    > .icon{
                        width: $height;
                        height: $height;
                        background: $lightGray;
                        vertical-align: top;
                    }

                    > .type{
                        padding-left: 10px;
                        font-size: $fontSize;
                        height: $height;
                        width: 140px;
                        vertical-align: top;
                        @include vertical-align($height);

                        > .info{
                            top: -50px;
                            left: 125px;
                            width: 15px;
                            height: 15px;
                            position: relative;
                            background: $jimColor;

                            &:hover{
                                background: $hoverColor;
                            }
                        }
                    }

                    .seperator{
                        height: $height;
                        border-right: 1px solid $borderColor;
                    }

                    > .selector{
                        padding-left: 6px;
                        height: $height;

                        > .name{
                            font-size: $fontSize;
                            @include vertical-align($height);                    

                        }

                         > .value{
                            font-size: 30px;
                            margin-left: 5px;
                            margin-right:   5px;
                            @include vertical-align($height);
                         }

                         > .unit{
                            vertical-align: top;
                            margin-right: 5px;   
                            font-size: $fontSize;      
                            @include vertical-align($height);
                            min-width: 1px;
                         }

                         @include slider($height);

                    }
                    > .series{
                        height: $height;
                        vertical-align: top;
                        width: 80px;
                        
                        > .slider{
                            display: inline-block;
                        }
                            > .cols{
                       > .top-text{
                           margin-left: 15px;
                           height: $height / 2;
                           text-align: center;
                           font-size: $fontSize;
                           @include vertical-align($height / 2);
                       }

                       > .numbers{
                        display: block;   
                        margin-top: -5px;
                        margin-left: 10px;
                        font-size: 12px;
                        > .btn{
                            width: 10px;
                            padding-left: 0px;
                        }
                       }
                        }
                    }

                    > .slider-wrapper{                    
                        @include slider($height);
                        vertical-align: top;
                    }
                }
            }
        }
       
        
    }
}



div#show-training {
    padding: 25px 0px;
    
    div.main-page-title {
        margin: {bottom:15px;}
    }
    
    div.exercise-list-container {
        
        div.title {
            @include sans;
            font: {size: 1.3em;}
            margin: {bottom: 10px;}
        }
        
        div.exercise-list {
            margin: {left:15px;}
            border: {
                bottom: 1px solid white;
                top: 1px solid lighten($jimColor, 25%);
                left:1px solid lighten($jimColor, 25%);
                right:1px solid lighten($jimColor, 25%);
            }
            
            div.exercise-entry {
                padding: 10px 10px;
                background: {color: lighten($jimColor, 43%);}
                border: {
                    top: 1px solid white;
                    bottom: 1px solid lighten($jimColor, 25%);
                }
                
                div.exercise-name {
                    font: {size: 1.3;}
                    padding-bottom: 10px;
                }
                
                div.series-list {
                    margin-left: 10px;
                    
                    div.series-entry {
                        border-top: 1px solid $jimColor;
                        padding: 10px;
                    }
                }
            }
            
            div.exercise-entry.odd {
                background: {color: lighten($jimColor, 50%);}
            }
        }
    }
} 



