@import "definitions.scss";

// defined as mixin to be used for workout creation and tempo guidance popup
@mixin plus-minus-btns-mixin {
    text-align: right;
    
    > div {display: inline-block;}
    
    .btn {@include flat-btn; @include no-rounding; display: block; padding: 4px 3px 1px 4px; float: none;}
    .btn.plus-btn {background-color: $jimColor; margin-bottom: 2px;}
    .btn.plus-btn:hover {background-color: darken($jimColor, 15%);}
    .btn.minus-btn {background-color: $jimBlue;}
    .btn.minus-btn:hover {background-color: darken($jimBlue, 15%);}
    .btn i {margin: 0;}
}

////////////////////////////////////////////////////////////////////////////////
/// WORKOUT PAGE
//
.training.workouts {
    line-height: normal;

    /////////////////////////
    /// LEFT NAVIGATION MENU
    //
    .my-workouts {
        @media (min-width: 768px) {
            h3.jim-title {margin: 30px 0px 10px 10px;}
        }

        @media (max-width: 767px) {
            h3.jim-title {margin: 10px 0px 10px 10px;}
        }

        $workoutItemHeight: 44px;

        .workout-list {
            > li {
                > a {@include zero-spacing; @include no-rounding;background-color: white;color: black; height: $workoutItemHeight; line-height: $workoutItemHeight; border-color: $borderColor;}
                > a:hover {background-color: $hoverColor; color: white;}
                &.highlighted > a {background-color: $lightBlue; color: white;}
                &.highlighted > a:hover {background-color: $hoverColor;}
                &.highlighted > a:hover > .content .right {background-color: lighten($jimColor, 15%);}
                &.highlighted > a > .content .right {width: 20%; height: $workoutItemHeight; float: right; background-color: $jimColor;max-width: 30px; display: block;}
                &.highlighted > a > .content .left {width: 78%;}
                > a > .content {
                    padding-left: 5px;
                    height: $workoutItemHeight;
                    .left {width: 100%; display: inline-block; vertical-align: middle; line-height: normal; margin-top: -5px;}
                    .right {display: none;}
                    .right i {margin-left: 7px;}
                }
            }
        }
    }

    /////////////////////////
    /// MAIN PANEL
    //
    .main-panel .jim-box {
        margin: 25px 0px;
        $paddingLR: 25px;
        $paddingTB: 15px;

        .header {
            padding: $paddingTB $paddingLR;
            .jim-title {margin: 0;}
            .jim-sub-title {margin: 0; line-height: 1.2em;}
        }

        .separator{
            margin: 0px 15px;
            border-bottom: 1px solid $borderColor;
        }

        .instructions {
            padding: 10px ($paddingLR + 10px) 25px;
            .span4 {margin-top: 15px;}
            .marginalium {float: left;font-size: 3em;margin-top: -20px; margin-right: 5px; height: 45px;}
            .contentium {@include light; font-size: 1.6em;}
        }

        $regimeDim: 65px;
        $borderWid: 3px;
        $regimeDimWithBorder: $regimeDim + 2*$borderWid;

        .regimes {
            padding: 0px $paddingLR $paddingTB $paddingLR;

            .regime {
                cursor: pointer; width: $regimeDimWithBorder;margin-right: 5px;margin-top: 10px;display: inline-block; vertical-align: top;

                .icon {@include square($regimeDim);padding: $borderWid;}
                .icon i.icon-ok {display: none;}
                &:hover .icon {@include square($regimeDim);padding: 0;border: 3px solid $jimColor;}
                .icon .image {background-color: #eee;@include square($regimeDim);}

                .name {font-size: 0.8em; text-align: center; margin-top: $borderWid;}

                &.active .icon .tick-icon {position: absolute; background-color: $jimColor; margin: -3px 0 0 -3px; padding: 3px; @include square(14px);}
                &.active .icon i.icon-ok {display: inline-block;margin: 0px;}
            }
        }

        .selected-regime {
            padding: $paddingTB $paddingLR;

            button {@include sans;}
            button i {margin-top: 3px;}

            > .name {
                > div > div {@include inline; @include middle;}
                .the-name-value {@include sans; @include light; @include flat-text-input; font-size: 2.3em; padding: 3px; border: 1px solid #f0f0f0; width: 95%;}

                .btn-group {text-align: right; width: 100%;}
                .btn-group button {@include flat-btn; @include no-rounding; padding: 10px 8px;}
                .btn-group button .caret {margin-left: 10px;}
                .btn-group ul {text-align: left;}
            }

            .exercises {
                margin: 15px 0;

                .exercise {
                    border: 1px solid $borderColor;
                    background-color: $bodyBackgroundColor;
                    margin-bottom: 5px;

                    button {@include flat-btn;padding-right: 4px;float: right;}
                    button:hover {background-color: $hoverColor; color: white;}

                    .details {
                        .name {
                            padding-top: 5px; padding-left: 5px;
                            .exercise-label {
                                @include rounded(3px);
                                font-weight: normal;
                                text-shadow: 1px 1px white;
                                font-size: 20px;
                                @include inline;
                                @include middle;
                                margin-right: 5px;
                                padding: 0px 5px 2px 5px;

                                .exercise-expand-icon {
                                    text-shadow: 1px 1px white; margin: 7px 5px 5px 5px;
                                }

                                &:hover {text-shadow: none; background-color: white;}
                            }
                            a.btn {@include flat-btn;}
                            a.active {background-color: #eee;}
                            span.the-name-value {@include light; font-size: 20px; text-shadow: 1px 1px white; margin-right: 5px;}
                        }

                        .exercise-top-btns {
                            padding: 5px;
                            .btn {@include no-rounding;margin-top: 2px;}
                            .btn i {margin-left: 5px;}
                            .delete-btn {}
                            .add-btn:hover {background-color: $hoverColor;}

                            .assign-to-all-series {
                                margin-left: 5px;
                            }
                        }
                    }

                    .description {
                        $bottom-controls-height: 70px;

                        background-color: white; margin: 5px;  @include rounded(3px); display:none;

                        div.description-container{
                            padding-top: 10px;
                            padding-right: 20px;
                            p.title {
                                @include bold;
                            }

                            p.text {
                                text-align: justify;
                            }
                        }

                        table.guidance {
                            width: 100%;
                            height: $bottom-controls-height;
                            text-align:right;

                            td.text {line-height:$bottom-controls-height;}
                            a.btn {@include flat-btn; vertical-align: middle;}
                            a.active {background-color: #eee;}
                            span.the-name-value {@include light; font-size: 1.5em; text-shadow: 1px 1px white; margin-right: 5px;}

                            .dropdown-menu {
                                top: auto;
                                bottom: 75%;
                                cursor: pointer;
                            }
                        }

                        table.content {
                            width: 100%;
                            height: $bottom-controls-height;

                            td.text {line-height:$bottom-controls-height;}
                            input.value {font-size: 2em; @include sans; @include flat-text-input; height: auto; margin: 0 0 0px 0; background: none; padding: 0px; width: 30px; display: inline-block; vertical-align: baseline;}

                            .no-padding { padding: 0px; }

                            a.btn {@include flat-btn;}
                            a.active {background-color: #eee;}
                            span.the-name-value {font-size: 20px; text-shadow: 1px 1px white; margin-right: 5px;}
                        }
                        table.content .text {text-align:right; }
                        table.content .text > div {display: inline-block; }
                        td.plus-minus-btns{text-align:center;}
                        .plus-minus-btns{ @include plus-minus-btns-mixin; }
                    }

                    .series-list {
                        padding: 5px 5px 0px 5px;

                        .series {
                            background-color: white; margin-bottom: 5px; @include rounded(3px); padding: 5px;

                            .icon {font-size: 1.5em; text-align: center; background-color: #f6f6f6; @include rounded(3px);}

                            input.value {font-size: 2em; @include sans; @include flat-text-input; height: auto; line-height: normal; margin: 0 0 -5px 0; background: none; padding: 0px; width: 30px; display: inline-block; vertical-align: bottom;}

                            .row-fluid > div {display: inline-block; vertical-align: middle; float: none;}
                            .row-fluid > div.data-field:hover {@include rounded(3px); background-color: #f6f6f6;}

                            table.content {@include zero-spacing; width: 100%}

                            table.content td > div {padding: 5px;}
                            table.content .text > div {margin-left: 10px; display: inline-block;}

                            .plus-minus-btns{
                                @include plus-minus-btns-mixin;
                            }

                            .series-list {
                                text-align: center;
                                padding: 5px;

                                .title {@include light; font-size: 13pt; color: #373939;}

                                .the-list {
                                    .the-series {display: inline-block; padding: 3px 5px;margin-top: 5px;}
                                    .the-series:hover {background-color: #ddd; color: #333;}
                                    .the-series.selected {@include shadow(0 0 1px 1px $jimBlue); background-color: white; color: black;}
                                }
                            }
                        }

                    }
                }
            }

            #delete-confirmation {
            }

            .workout-buttons {
                .row-fluid > div {text-align: right;}

                .btn {@include flat-btn; @include no-rounding;}
                .btn.save {background-color: $lightBlue; margin-left: 10px;}
                .btn.save:hover {background-color: $hoverColor;}
            }
        }
    }
}

/////////////////////////
/// TEMPO GUIADANCE POPUP
//
div.popup-tempo-container{ 
    position:absolute; 
    z-index:2; 
    display:none;
}

div.popup-tempo{
    position:relative;
    width:440px;
    height:420px;
    background:white;
    
    div.outer-border{
        position:absolute;
        border: 10px solid $jimColor;
        background: $bodyBackgroundColor;
        top:10px;
        bottom:10px;
        left:10px;
        right:10px;
        
        div.left{
            float:left;
            width:55%;
            height:100%;
            
            div.control-border{
                position:relative;
                height:90%;
                width:85%;
                margin: 5% auto;
                border: 5px solid $jimBlue;
                cursor: pointer;
                
                #tap_tempo_note {
                    width:100%; 
                    height:100%; 
                    text-align:center;
                    font: {size: 1.5em; weight: 400;}
                    color: $jimBlue;
                }
            }
            
            div.control-fill{
                position:absolute;
                height:0%;
                width:100%;
                background: $jimBlue;
                bottom:0px;
            }
        }
        
        div.right{
            float:left;
            width:45%;
            height:100%;
            
            table.selector-controls{
                width:100%;
                
                td.timer{
                    padding:10px 0px 10px 0px;
                    text-align:right;
                    
                    span.segment{
                        display: inline-block;
                        vertical-align: baseline;
                        font: {size: 1.5em; weight: 400; }
                    }
                    
                    input.value{
                        display: inline-block;
                        vertical-align: baseline;
                        background: $bodyBackgroundColor;
                        border: 0px;        
                        font: {size: 3.0em; weight: 600;}
                    }
                }
                
                td.plus-minus-btns{
                    padding:10px;
                    @include plus-minus-btns-mixin
                }
                
            }
            
            div.row{
                position:relative;
                clear:both;
                height:15%;
                background:red;               
            }
            
            .btn {@include flat-btn; @include no-rounding; display: block; width:90%; margin: auto; margin-bottom:5px; }
            .btn.save {background-color: $lightBlue;}
            .btn.save:hover {background-color: $hoverColor;}
        }
    }
}