<p>Welcome to TrainerJim!</p>

<p>You can log in to TrainerJim and confirm your account through the link below:</p>

<p><%= link_to 'Confirm my account', "#{welcome_url}#/confirmation?token=#{@token}" %></p>

<p>You're in for some great fitness action. We wish you a great time with Jim!</p>