<p>Welcome to TrainerJim!</p>

<p>You can log in to TrainerJim and confirm your account through the link below:</p>

<p style="margin-left: 10px">
  <%= link_to 'Confirm my account', "#{app_url}#/confirmation?token=#{@token}" %>
</p>

<p>To download the Android mobile app click here:</p>

<p style="margin-left: 10px">
    <%= link_to 'Download mobile app', "https://play.google.com/apps/testing/com.trainerjim.mobile.android" %>
</p>

<p>You're in for some great fitness action. We wish you a great time with Jim!</p>