.user-strip {
  cursor: pointer;
}

.user-strip .header {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 44px;
  border: 1px solid #ddd;
}

.user-strip:hover .header {
  background-color: #fafafa;
}

.user-strip .header img {
  max-height: 36px;
  max-width: 64px;
  border-radius: 3px;
  margin: 0 5px 0 3px;
}