div.trainee-thumb {
  width: 300px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  margin: 10px;
}

div.trainee-thumb.clickable {
  cursor: pointer;
}

div.trainee-thumb.filled-width {
  width: 100%;
  margin: 0;
}

div.trainee-thumb.clickable:hover {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.6);
}

div.trainee-thumb .image {
  height: 200px;
  width: 100%;
  border-bottom: 1px solid #ccc;
  background-color: white;
  padding: 5px;
  position: relative;
}

div.trainee-thumb .image img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
}

div.trainee-thumb.clickable:hover .image {
  background-color: #fafafa;
}

div.trainee-thumb .details {
  height: 60px;
  background-color: #fafafa;
  padding: 3px 5px;
  border-top: 1px solid white;
  position: relative;
}

div.trainee-thumb.clickable:hover .details {
  background-color: #ebebeb;
}

div.trainee-thumb .details .name-email {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

div.trainee-thumb .details .name {
  font-size: 1.3em;
}

div.trainee-thumb .details .email {
  font-style: italic;
}

div.trainee-thumb .details .take-photo {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-5px, -50%);
  width: 60px;
  color: white;
}