div.trainees div.jim-box {
  margin-top: 25px;
  padding: 15px 25px;
}

div.trainees div.jim-box div.trainees-grid {
  margin: 0 10px;
}


div.trainees .thumbs-grid {
  overflow: hidden;
}


div.trainees .thumbs-grid .thumb {
  float: left;
}
