<div class="modal-header">
    <h3 class="modal-title" translate>WORKOUT_SELECTOR_SELECT_WORKOUT</h3>
</div>

<div class="modal-body">
    <ui-select ng-model="selectedTraining.selected" style="min-width: 300px;">
        <ui-select-match placeholder="{{selectTrainingPlaceholder}}">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="training in trainings | propsFilter: {name: $select.search}">
            <div ng-bind-html="training.name | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()" translate>OK</button>
    <button class="btn btn-warning" ng-click="cancel()" translate>WORKOUT_SELECTOR_CANCEL</button>
</div>