<!DOCTYPE html>
<html>
  <head>
    <title>Trainerjim</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="main-layout">
    <div class="skeleton">
      <%= yield %>
    </div>
  </body>
</html>
